/********************理论上要整合的css********************/

body{
    font-size: 10px;
    /*position: relative;*/
    width: 100%;
    word-break: keep-all;
    background: #000000;
}
*{
    margin: 0 auto;
    padding: 0;

}
.container{
    width:80%;
}

.container-fluid{
    padding: 0;
}
h1{
    font-size: 6em;
    color: #fff;
    font-weight: bold;
    margin: 0 0 20px 0;
    text-shadow: 0 1px 2px rgba(0,0,0,.8);
    text-align: left;
}
p{
    color: #fff;
}
ul{
    margin-bottom: 0;
}
ul li{
    list-style: none;
    float: left;

}
a{
    display: block;
    width:auto;
    height: auto;
    text-decoration: none;
    color: #ffffff;
}
a:hover{
    text-decoration: none;
}
/***************home中的css****************/
/********************header*********************/

.page-home-header{
    position: relative;
    float: left;
    width: 100%;
    height: 970px;
    overflow: hidden;
    background: none,#000;
    background-size: contain;
}
#video-bg{
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    width: auto;
    height: auto;
    display: block;
}
.video-bg{
    position: relative;
    display: block;
}
.header{
    position: absolute;
    top:0;
    width: 100%;
    background: transparent;
}


/********************title之类*********************/
.space-large{
    height:120px;
    width: 80%;
    position: relative;

}
.align-left{
    position: relative;
    top:0;

}
.ruKeng{
    margin: 35px 0;
}
.rukengbtn{
    display: inline-block;
    margin-right: 25px;
    width:200px;
    height:60px;
    color: #f7b10a;
    line-height: 59px;
    text-align: center;
    border: 1px solid #c77e19;
    margin-top: 0;
    background: rgba(0,0,0,.4);
}
.rukengbtn2{
    background: rgba(159,22,0,.6);
}
.rukengbtn span{
    font-size: 1.8em;
}
.rukengbtn:hover{
    background: #b06601;
    text-decoration: none;
}
.rukengbtn2:hover{
    background: #9f1600;
}
.rukengbtn:hover span{
    color: #ffd36b;

}

/******************news*********************/
#news{
    height:175px;
    position: relative;
    top:0;
    margin:0 10px 0;
}
.news-title{
    height:40px;
    margin-left: 13px;
}
.news-title p{
    font-size: 1.7em;
    display: inline-block;
    width:auto;
    float: left;
}
.news-title a span{
    font-size: 1.5em;
    display: inline-block;
    width:auto;
    float: left;
    margin-left: 20px;
    color: #f7b10a;
    text-decoration: underline;
}
.news-con-area{
    width:25%;
    height:175px;
    float: left;
    padding: 10px;
}
.news-con-content{
    border:1px solid #000000;
    height: 175px;
    width: 100%;
    position: relative;
}
.news-con-pic{
    position: relative;
    height:100%;
    width: 100%;

}
.news-con-pic img{
    height:100%;
    width: 100%;
}
.news-con-title{
    padding: 12px 10px;

    position: absolute;
    bottom: 0;
    width:100%;
    height:50%;
}
.news-date{
    font-size: 1.4em;
    color: #fff;
}
.news-con-left{
    font-size: 17px;
    line-height: 20px;
    color: #f8b700;
    float: left;
    width:80%;
    overflow: hidden;
    font-weight: bold;
    display: inline-block;
}
.news-con-right{
    font-size: 1.7em;
    line-height: 1.3em;
    color: #b1997f;
    float: left;
    width:50px;
    padding-left: 10px;
    padding-top: 23px;
    display: inline-block;
}
.news-con-content:hover{
    border:2px solid #f8b700;
}
.news-con-title:hover span{
    color: #f8b700;
}


/*****************con************************/
.page-home-con{
    position: relative;
    float: left;
    background-color: #000;
    width: 100%;
    height: 100%;
    top:4px;
}
.home-little{
    float: left;
    width:50%;
    position: relative;
    height:560px;
    padding: 0 2px 4px;

}
.home-large{
    float: left;
    width:100%;
    position: relative;
    padding-bottom: 4px;
    margin-bottom: 0;
}

/*****************little**********************/
.little-con{
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height:100%;
    background-color: #504137;
    z-index: 1;
    border:1px solid #504137;
}

.little-con:hover{
    border: 1px solid #f8b700;
}
.little-con:hover .abstract{
    color: #ffffff;
}
.little-pic{
    width: 100%;
    height:67%;
    padding-bottom: 1px;
}
.little-pic-a{
    background: url("../../public/images/home/little-1.jpg") no-repeat 50% 50%;
    background-size: cover;
}
.little-pic-b{
    background: url("../../public/images/home/little-2.jpg") no-repeat 50% 50%;
    background-size: cover;
}
.little-pic-c{
    background: url("../../public/images/home/little-3.jpg") no-repeat 50% 50%;
    background-size: cover;
}
.little-pic-d{
    background: url("../../public/images/home/little-4.jpg") no-repeat 50% 50%;
    background-size: cover;
}

.little-title{
    width: 100%;
    height:33%;
    background-color: #211510;
    padding: 1px 0 1px;
    margin: 1px 0 1px;
    text-align: center;
}
.little-title-con{
    width: 100%;
    height:100%;
    padding: 40px;
}
.little-title .abstract{
    display: block;
    font-size: 1.6em;
}
.little-title span{
    display: block;
    font-size: 4.0em;
    font-weight: bold;
    color: #f8b700;
}


/**********************large***********************/
.large-bg{
    width: 100%;
    height:100%;
    float: left;
    position: relative;
    background-size: contain;
}
.large-carbon{
    background: url("../images/home/large-1.jpg") no-repeat 50% 50%;
    height: 750px;
    background-size: cover;
}
.large-version{
    background: url("../images/home/large-2.jpg") no-repeat 50% 50%;
    height: 600px;
}
.large-assistant{
    background: url("../images/home/large-3.jpg") no-repeat 50% 50%;
    height: 475px;
}
.large-data{
    /*background: url("../images/home/large-4.jpg") no-repeat 50% 50%;*/
    height: 750px;
}
.large-con{
    height: 100%;
    color: #ffffff;
    clear: both;
    float: left;
    position: relative;
    top:0;
}
.large-right{
    width:50%;
    position: relative;
    left: 25%;
    top: 25%;
    text-align: right;
}
.large-title{
    font-size: 52px;
    font-weight: 700;
}
.Content-con{
    font-size: 18px;
    margin-top: 30px;
    color: #ebdec2;
}
.Content-button{
    margin-top: 30px;
    font-size: 2.0em;

    width:150px;
    height: 50px;
    border: 1px solid #ccc;
}
.large-left{
    width:50%;
    position: relative;
    left: -10%;
    top: 25%;
    text-align: left;
}
.large-video{
    position: absolute;
    overflow: hidden;
    height: 750px;
    width:100%;

}
#video-large{
    background-size: 2400px;
    height: 750px;
    width: auto;
    display: block;
    position: absolute;
    object-fit: contain;
    object-position: 50% 50%;
}
/************************footer*************************/
.divider{
    height:4px;
    width: 100%;
    float: left;
    position: relative;
}
.guanzhu{
    height:90px;
    width: 100%;
    float: left;
    position: relative;
    background-image: url("../../public/images/guanzhu.jpg");
    background-position: top;
    background-size: 100%;
    border-top: 1px solid rgba(255,255,255,.08);
    border-bottom: 1px solid rgba(255,255,255,.08);
}
.guanzhu-con{
    display: table;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #ffffff;
    line-height: 90px;
}
.guanzhu ul li{
    font-size: 20px;
    padding: 0 20px 0;
    text-align: center;
}
.guanzhu-con a span{
    margin: 30px auto 0;
    background-image: url("../images/tuiguang-yellow.png");
    width:32px;
    height:30px;
    display: block;
}
.guanzhu-con a span:hover{
    margin: 30px auto 0;
    background-image: url("../images/tuiguang-white.png");
    width:32px;
    height:30px;
    display: block;
}
#wb{
    background-position:0 top ;
}
#qq{
    background-position:-52px top ;
}
#wx{
    background-position:-104px top ;
}
#yk{
    background-position:right top ;
}




footer {
    background: url("../images/foot_bg.jpg") repeat center 0;
    padding-top: 62px;
    float: left;
    width: 100%;
}

.footer{
    width: 100%;
    line-height: 20px;
    margin: 0;
    padding: 0;
}
.Cooperation_info{
    width: 1000px;
    position: relative;
    left: 50%;
    margin-left: -500px;
    color: #fff;
    z-index: 100;
    padding: 50px 0;
}
.customer{
    float: left;
}
.customer a{
    margin-right: 37px;
    color:rgba(255,255,255,0.7);
    float: left;
}
.customer_sp{
    display: inline-block;
    width: 19px;
    height: 19px;
    position: relative;
    top:5px;
    margin-right: 10px;
    background: url("../images/gamepoints/f-business_20160608.png") no-repeat;
}

.custom_sp_bg1{
    background-position:  -6px -7px;
}
.custom_sp_bg2{
    background-position: -36px -8px;
}
.custom_sp_bg3{
    background-position: -8px -32px;
}
.customer a:hover{
    color:#ffffff;
}



.brand{
    text-align: right;
    margin-right: 50px;
}
.brand p{
    display: block;
}
.brand_bg{
    display: inline-block;
    font-size: 14px;
    color: #b3b3b3;
    line-height: 20px;
    margin: 0;
    position: relative;
    top:5px;
    background: url("../images/gamepoints/Fbusiness-logo-wow.png") no-repeat;
}
.brand_inter{
    background-position: 0 0;
    width: 36px;
    height: 26px;
}
.brnad_naidia{
    background-position: -36px 0;
    width: 95px;
    height: 26px;
}


.brand_add{
    display: inline-block;
    background: #241101;
    border: 1px solid #2d1702;
    color: #ac771f;
    width: 14px;
    height: 14px;
    margin: 0 0 0 13px;
    position: relative;
    cursor: pointer;
    padding-top: 0;
}
.brand_add:hover .brand_line_h{
    background: #ffffff;
}
.brand_add:hover .brand_line_s{
    background: #ffffff;
}
.brand_line_h{
    width: 10px;
    height: 2px;
    margin: -1px 0 0 -5px;
}
.brand_line_s{
    width: 2px;
    height: 10px;
    margin: -5px 0 0 -1px;
}
.brand_line_s,.brand_line_h{
    position: absolute;
    display: block;
    background: #ac771f;
    top: 50%;
    left: 50%;
}

.f_logo{
    text-align: left;
    width: 1000px;
    margin: 0 auto 8px;
}

.f_logo a{
    display: inline-block;
}
.f_logo_bz{
    width: 125px;
    height: 80px;
    background: url("../images/gamepoints/logo_blizzard.png") no-repeat 0 0;
}
.f_logo_wy{
    width: 125px;
    height: 38px;
    margin: 0 0 0 20px;
    background: url("../images/gamepoints/logo_ne.png") no-repeat 0 0;
}

.f_info{
    width: 640px;
    display: inline-block;
    text-align: left;
    padding: 0 0 0 60px;
    position: relative;
    top:30px;
}
.info{
    margin-left: -10px;
    padding-bottom: 5px;
}
.info:after{
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
    content: ".";
}
.info li{
    float: left;
}
.info li a{
    display: inline-block;
    padding: 0 12px;
    color: rgba(255,255,255,0.7);
}
.info li a:hover{
    color: rgb(255,255,255);
}
.f_info p{
    display: block;
    font-size: 12px;
    line-height: 20px;
    color:rgba(255,255,255,.3);
}
.f_info p span{
    font-size: 12px;
    color:rgba(255,255,255,.3);
    display: inline-block;
}
.f_info p a{
    font-size: 12px;
    color:rgba(255,255,255,.3);
}
.f_info p a:hover{
    color:#ffffff;
}
.integ a{
    display: inline-block;
    margin-right: 15px;
    position: relative;
    top:5px;
}
.tip{
    border-top: 1px solid #1a1a1a;
    width: 90%;
    margin: 40px auto 0;
    padding: 20px;
    text-align: center;
}
.tip p{
    color: rgba(255,255,255,.3);
    font-size: 12px;
}
/********************响应式**********************/

/******************内容响应式*********************/
@media (max-width: 720px) {
    h1{
        font-size: 4.5em;
        text-align: center;
    }
    p{
        font-size: 1.7em;
        text-align: center;
    }

    .home-large{
        height:750px;
        overflow: hidden;
        margin-bottom: 10px;
    }
    .video-bg{
        display: none;
    }
    .page-home-header{
        height: 2300px;
        background: url("../../public/images/home/header-bg.jpg") no-repeat,#000;
        background-size: contain;
    }
    .align-left{
        top:110px
    }
    .ruKeng{
        margin: 35px auto;
    }
    .rukengbtn{
        display: inline-block;
        margin-right: 25px;
        width:150px;
        height:50px;
        color: #f7b10a;
        line-height: 49px;
        text-align: center;
        border: 1px solid #c77e19;
        margin-top: 0;
        background: rgba(0,0,0,.4);
    }
    .rukengbtn2{
        background: rgba(159,22,0,.6);
    }
    .rukengbtn span{
        font-size: 1.6em;
    }
    #news{
        top:50px;
    }
    .news-title{
        margin-left: -60px;
    }

    .news-con-area{
        width: 120%;
        height:420px;
        margin-left: -10%;
    }

    .news-con-content{
        height: 400px;
    }
    .news-con-pic{
        height:78%;
    }

    .news-con-title{
        height:22%;
    }
    .home-little{
        width:100%;
        padding: 0 2px 10px;
    }
    .large-bg{
        width: 100%;
        height:67%;
        float: left;
        background-size: cover;
    }
    .large-con{
        height:100%;
        color: #ffffff;
        background: url("../../public/images/large-title-bg.jpg") no-repeat 50% 50%;
        clear: both;
        background-size: cover;
        top:100%;
        width: 100%;
    }
    .large-right{
        width:100%;
        position: relative;
        left: 0;
        top:20px;
        text-align: center;
    }
    .large-left{
        width:100%;
        position: relative;
        left: 0;
        top:20px;
        text-align: center;
    }
    .large-title{
        font-size: 3.0em;
        font-weight: 500;
    }

    .Content-con{
        font-size: 1.4em;
        margin-top: 25px;

    }
    .large-data{
        background: url("../images/home/large-4.jpg") no-repeat 50% 50%;
        height: 67%;
    }
    .large-video{
        display: none;
    }
}
@media (min-width: 720px) and (max-width: 1080px) {
    .home-little{
        width:100%;
    }
    h1{
        font-size: 5em;
        color: #fff;
        font-weight: bold;
        margin: 0 0 20px 0;
        text-shadow: 0 1px 2px rgba(0,0,0,.8);
    }
    p{
        font-size: 2em;
        line-height: 1.5em;
        color: #fff;
        width: 550px;
        text-shadow: 0 1px 2px rgba(0,0,0,.8);
    }
    .page-home-header{
        height: 1520px;
        background: url("../../public/images/home/header-bg.jpg") no-repeat,#000;
        background-size: contain;
    }
    .ruKeng{
        margin: 35px auto;
    }
    .rukengbtn{
        display: inline-block;
        margin-right: 25px;
        width:165px;
        height:55px;
        color: #f7b10a;
        line-height: 54px;
        text-align: center;
        border: 1px solid #c77e19;
        margin-top: 0;
        background: rgba(0,0,0,.4);
    }
    .rukengbtn2{
        background: rgba(159,22,0,.6);
    }
    .rukengbtn span{
        font-size: 1.7em;
    }
    .news-con-area{
        width: 50%;
        height:410px;
    }
    .news-con-content{
        height: 360px;
        width: 100%;
    }
    .video-bg{
        display: none;
    }
    .home-large{
        overflow: hidden;
    }
    .large-title{
        font-size: 4.6em;
        font-weight: 600;
    }
    .Content-con{
        font-size: 1.6em;
        margin-top: 25px;

    }
    .large-con{
        height:100%;
        color: #ffffff;
        clear: both;
        width: 100%;
    }
    .large-right{
        width:100%;
        position: relative;
        left: 0;
        top:20%;
        text-align: center;
    }
    .large-left{
        width:100%;
        position: relative;
        left: 0;
        top:20%;
        text-align: center;
    }
    .rukengbtn{

        margin-top: 20px;

    }
    .large-assistant .large-left{
        top:20px;
    }
    .large-data{
        background: url("../images/home/large-4.jpg") no-repeat 50% 50%;
        height: 750px;
    }
    .large-video{
        display: none;
    }
}
@media (min-width: 1080px) {
    .large-assistant .large-left{
        top:100px;
    }
    .rukengbtn,.rukengbtn2{
        margin-top: 20px;
    }
}