body{
    font-size: 10px;
    /*position: relative;*/
    width: 100%;
    word-break: keep-all;
    background: #222;

}
*{
    margin: 0 auto;
    padding: 0;
    /**/
}
/*h1{*/
    /*font-size: 6em;*/
    /*color: #fff;*/
    /*font-weight: bold;*/
    /*margin: 0 0 20px 0;*/
    /*text-shadow: 0 1px 2px rgba(0,0,0,.8);*/
    /*text-align: left;*/
/*}*/
/*p{*/
    /*font-size: 2.5em;*/
    /*line-height: 1.5em;*/
    /*color: #fff;*/
    /*width: 550px;*/
    /*text-shadow: 0 1px 2px rgba(0,0,0,.8);*/
    /*text-align: left;*/
/*}*/
ul{
    margin-bottom: 0;
}
ul li{
    list-style: none;
    float: left;

}
a{
    display: block;
    width:auto;
    height: auto;
    text-decoration: none;
    color: #ffffff;
}
a:hover{
    text-decoration: none;
}

/**********************************************/
.header{
    background: url("../../public/images/index/bg.jpg") no-repeat center center;
    width: 100%;
    height: 680px;
}
.top-boxer{
    width: 1200px;
    position: relative;
    margin: 0 auto;
    z-index: 9;
}
.menu{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    padding-top: 44px;
}
.menu ul{
    width: 1198px;
    height: 70px;
    border: 1px solid #422d24;
    margin: 0 auto;
    background: url("../../public/images/sitenav-bar-bg.jpg") top center no-repeat;
    background-size: 100% 100%;
    box-shadow: 0 0 10px rgba(0,0,0,.7);
    box-sizing: border-box;
}
.menu li {
    box-sizing: border-box;
    width: 161px;
    float: left;
    height: 70px;
    border-left: 1px solid #291b16;
    border-right: 1px solid #3f2a22;
    text-align: center;
    display: block;
}
.menu li.first {
    border-left: none;
}
.menu li a {
    color: #f8b700;
    font-size: 16px;
    font-weight: 700;
    line-height: 70px;
    display: block;
    height: 100%;
    width: 100%;
    text-shadow: 0 0 5px rgba(0,0,0,.7);
}
.menu li.logo {
    width: 226px;
}
.menu li.logo a {
    height: 153px;
    position: absolute;
    width: 235px;
    top: 0;
    margin-left: -123px;
    left: 50%;
    overflow: hidden;
    text-indent: -999px;
    background: url("../../public/images/index/logo.png") top center no-repeat;
}
.menu li.last {
    border-right: none;
}
.slogan{
    background: url("../../public/images/index/slogan.png");
    height: 70px;
    left: 50%;
    margin-left: 46px;
    position: absolute;
    top: 107px;
    width: 87px;
    z-index: 99;
}
.prm{
    height: 560px;
    width: 100%;
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 9;
}
.prm a{
    height: 560px;
    width: 100%;
    display: block;
    margin: 0 auto;
    position: relative;
}
.rock-left{
    height: 438px;
    width: 359px;
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 385px;
    margin-left: -960px;
    background: url("../../public/images/index/rock_left.png") top center no-repeat;
}
.rock-right{
    height: 550px;
    width: 375px;
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 280px;
    margin-left: 575px;
    background: url("../../public/images/index/rock_right.png") top center no-repeat;
}
.mid{
    height: 340px;
    background: url("../images/index/mid-bg.jpg") top center no-repeat;
    border-bottom: 1px solid #16110e;
    position: relative;
    z-index: 1;
}
.mid-box{
    padding-top: 30px;
    width: 1202px;
    margin: 0 auto;
}
.banner{
    display: block;
    width: 1202px;
    height: 217px;
}
.banner li{
    width: 290px;
    float: left;
    margin-right: 14px;
}
.banner li a{
    transition: all .5s ease 0s;
    display: block;
    width: 290px;
    border-bottom: 1px solid #45300f;
}
.banner li a:hover{
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}
.banner li.last{
    margin-right: 0;
}
.banner li a h3{
    height: 68px;
    background: #241712;
    background: rgba(41,26,20,.8);
    line-height: 68px;
    color: #f8b700;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    border-bottom: 1px solid #45300f;
    transition: all .3s ease 0s;
}
.banner li a:hover h3 {
    color: #fff;
    background: rgba(41,26,20,1);
}
.banner li a .mid-imgbox {
    border-top: 1px solid #120b09;
    border-bottom: 1px solid #120b09;
    height: 145px;
    width: 290px;
    position: relative;
}

/****************footer********************/
footer {
    background: #000000;
    padding-top: 32px;
}

.footer{
    width: auto;
    line-height: 20px;
    margin: 0;
    padding: 0;
}
.Cooperation_info{
    width: 1000px;
    position: relative;
    left: 50%;
    margin-left: -500px;
    color: #fff;
    z-index: 100;
    padding: 50px 0;
}
.customer{
    float: left;
}
.customer a{
    float: left;
    margin-right: 37px;
    color:rgba(255,255,255,0.7);
}
.customer_sp{
    display: inline-block;
    width: 19px;
    height: 19px;
    position: relative;
    top:5px;
    margin-right: 10px;
    background: url("../images/gamepoints/f-business_20160608.png") no-repeat;
}

.custom_sp_bg1{
    background-position:  -6px -7px;
}
.custom_sp_bg2{
    background-position: -36px -8px;
}
.custom_sp_bg3{
    background-position: -8px -32px;
}
.customer a:hover{
    color:#ffffff;
}



.brand{
    text-align: right;
    margin-right: 50px;
}
.brand p{
    display: block;
}
.brand_bg{
    display: inline-block;
    font-size: 14px;
    color: #b3b3b3;
    line-height: 20px;
    margin: 0;
    position: relative;
    top:5px;
    background: url("../images/gamepoints/Fbusiness-logo-wow.png") no-repeat;
}
.brand_inter{
    background-position: 0 0;
    width: 36px;
    height: 26px;
}
.brnad_naidia{
    background-position: -36px 0;
    width: 95px;
    height: 26px;
}


.brand_add{
    display: inline-block;
    background: #241101;
    border: 1px solid #2d1702;
    color: #ac771f;
    width: 14px;
    height: 14px;
    margin: 0 0 0 13px;
    position: relative;
    cursor: pointer;
    padding-top: 0;
}
.brand_add:hover .brand_line_h{
    background: #ffffff;
}
.brand_add:hover .brand_line_s{
    background: #ffffff;
}
.brand_line_h{
    width: 10px;
    height: 2px;
    margin: -1px 0 0 -5px;
}
.brand_line_s{
    width: 2px;
    height: 10px;
    margin: -5px 0 0 -1px;
}
.brand_line_s,.brand_line_h{
    position: absolute;
    display: block;
    background: #ac771f;
    top: 50%;
    left: 50%;
}

.f_logo{
    text-align: left;
    width: 1000px;
    margin: 0 auto 8px;
}

.f_logo a{
    display: inline-block;
}
.f_logo_bz{
    width: 125px;
    height: 80px;
    background: url("../images/gamepoints/logo_blizzard.png") no-repeat 0 0;
}
.f_logo_wy{
    width: 125px;
    height: 38px;
    margin: 0 0 0 20px;
    background: url("../images/gamepoints/logo_ne.png") no-repeat 0 0;
}

.f_info{
    width: 640px;
    display: inline-block;
    text-align: left;
    padding: 0 0 0 60px;
    position: relative;
    top:30px;
}
.info{
    margin-left: -10px;
    padding-bottom: 5px;
}
.info:after{
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
    content: ".";
}
.info li{
    float: left;
}
.info li a{
    display: inline-block;
    padding: 0 12px;
    color: rgba(255,255,255,0.7);
}
.info li a:hover{
    color: rgb(255,255,255);
}
.f_info p{
    display: block;
    font-size: 12px;
    line-height: 20px;
    color:rgba(255,255,255,.3);
}
.f_info p span{
    font-size: 12px;
    color:rgba(255,255,255,.3);
    display: inline-block;
}
.f_info p a{
    font-size: 12px;
    color:rgba(255,255,255,.3);
}
.f_info p a:hover{
    color:#ffffff;
}
.integ a{
    display: inline-block;
    margin-right: 15px;
    position: relative;
    top:5px;
}
.tip{
    border-top: 1px solid #1a1a1a;
    width: 90%;
    margin: 80px auto 0;
    padding: 20px;
    text-align: center;
}
.tip p{
    color: rgba(255,255,255,.3);
    font-size: 12px;
}