body{
    font-size: 12px;
    /*position: relative;*/
    width: 100%;
    word-break: keep-all;
    background: #000;
    box-sizing:border-box;
}
*{
    margin: 0 auto;
    padding: 0;
    /**/
}

ul{
    margin-bottom: 0;
}
ul li{
    list-style: none;
    float: left;

}
a{
    display: block;
    width:auto;
    height: auto;
    text-decoration: none;
    color: #ffffff;
}
a:hover{
    text-decoration: none;
}



/***************************************************/
.page{

}
.header{
    width:100%;
    overflow: hidden;
    background: url("../../public/images/game/xinshou-bg.jpg") no-repeat 50% 50%;
    background-size: cover;
}

.header-tit{
    margin: 250px auto 110px;
}
h2{
    font-size: 50px;
    text-align: center;
    color: #FFFFFF;
}
.xinshou{
    margin-top: 30px;
    font-size: 18px;
    text-align: center;
    word-break: break-all;
    width: 750px;
    color: #ebdec2;
}

/****************con******************/
.tabs{
    background: #211510;
    border-top: 1px solid #504137;
    border-bottom: 1px solid #504137;
    position: relative;
    overflow: hidden;
}
.tabs-container{
    width:100%;
    overflow: hidden;
}
.tabs-list{
    width: 100%;
    position: relative;
}
.tabs-item {
    width: 25%;
    vertical-align: middle;
    height: 82px;
}
.tabs-item a{
    width: 100%;
    height:82px;
    /*margin-top: 1px;*/
    text-align: center;
    font-size:22px;
    font-weight:bold;
    line-height: 82px;
}
.tabs-item .tabs-off{

    color: #f8b700;
}
.tabs-on{
    background: #f8b700;
    color: #000;
}

/**********************************************/
.Divider {
    height: 4px;
    margin: 0 auto;
    width: 100%;
    background-color: #000;
    position: relative;
}
.large{
    height: 600px;
    border-top:1px solid rgba(255,255,255,.08);
    border-bottom: 1px solid rgba(255,255,255,.08);
}
.middle{
    height: 600px;
    width:49.8%;
    padding: 0;
    border:1px solid rgba(255,255,255,.08);
    display: inline-block;
    overflow: hidden;
}

.small{
    height: 600px;
    width:33.1%;
    padding:0;
    border:1px solid rgba(255,255,255,.08);
    display: inline-block;
}
.welcome{
    overflow: hidden;
    position: relative;
}

.con-box{
    position: relative;
    height: 100%;
    width: 70%;
    cursor: default;
    margin:0 auto;
    overflow: hidden;
}
.left-align{
    position: relative;
    top: 170px;
    left:0;
    text-align: left;
    width:50%;
    height:50%;
    float: left;
}
.center-align{
    position: relative;
    left:0;
    text-align: center;
    width:90%;
    display: block;
}
.right-align{
    position: relative;
    top: 170px;
    left:0;
    text-align: left;
    width:50%;
    height:50%;
    float: right;
}
.con-img{
    height: 70%;
}
.con-area{
    height: 30%;
    background: url("../../public/images/Panel-bg-stacked-18def74ed6.jpg") no-repeat 50% 50%;
}
.small .con-img{
    height: 60%;
}
.small .con-area{
    height: 40%;
}
.con-tit{
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    float: left;
    margin-bottom: 30px;
    display: block;
}
.con-tit1{
    color: #fff;
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
    margin: 0 auto 25px;
}
.con-tit2{
    color: #fff;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
    margin: 0 auto 25px;
}
.con-content{
    float: left;
    position: relative;
    left:0;
}
.con-content p{
    text-align: left;
    font-size: 17px;
    word-break: break-all;
    width: 100%;
    color: #ebdec2;
}
.con-content1{
    float: left;
    position: relative;
    left:0;
}
.con-content1 p{
    text-align: left;
    font-size: 15px;
    word-break: break-all;
    width: 100%;
    color: #ebdec2;
}
.panic .con-content{
    text-align: center;
    display: block;
    width:100%;
}
.panic .con-content p{
    text-align: center;
    display: block;
    width:100%;
}
.con-bottom{
    font-size: 18px;
    color: #ebdec2;
    margin-top: 40px;
}
.con-link{
    display: inline;
    color: #f8b700;
}
.con-link:hover{
    text-decoration: underline;
}
.pinel-1{
    background: url("../../public/images/game/welcome.jpg") no-repeat 50% 50%;
    background-size: cover;
    height: 600px;
}
.pinel-2{
    background: url("../../public/images/game/hero.jpg") no-repeat 50% 50%;
    background-size: cover;
    height: 600px;
}
.pinel-3{
    background: url("../../public/images/game/ctrl.jpg") no-repeat 50% 50%;
    background-size: cover;
    height: 600px;
}
.pinel-4{
    background: url("../../public/images/game/jianshu.jpg") no-repeat 50% 50%;
    background-size: cover;
    height: 100%;
}
.pinel-5{
    background: url("../../public/images/game/shubiao.jpg") no-repeat 50% 50%;
    background-size: cover;
    height: 100%;
}
.pinel-6{
    background: url("../../public/images/game/dongzuotiao.jpg") no-repeat 50% 50%;
    background-size: cover;
    height: 100%;
}
.pinel-7{
    background: url("../../public/images/game/fashushu.jpg") no-repeat 50% 50%;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
.pinel-8{
    background: url("../../public/images/game/ziyuan.jpg") no-repeat 50% 50%;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
.pinel-9{
    background: url("../../public/images/game/kaishirenwu.jpg") no-repeat 50% 50%;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
.pinel-10{
    background: url("../../public/images/game/zhuizong.jpg") no-repeat 50% 50%;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
.pinel-11{
    background: url("../../public/images/game/wancheng.jpg") no-repeat 50% 50%;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
.pinel-12{
    background: url("../../public/images/game/bank.jpg") no-repeat 50% 50%;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
.pinel-13{
    background: url("../../public/images/game/horse.jpg") no-repeat 50% 50%;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
.pinel-14{
    background: url("../../public/images/game/xunlianshi.jpg") no-repeat 50% 50%;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.pinel-15{
    background: url("../../public/images/game/together.jpg") no-repeat 50% 50%;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
.pinel-16{
    background: url("../../public/images/game/party.jpg") no-repeat 50% 50%;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
.pinel-17{
    background: url("../../public/images/game/shangren.jpg") no-repeat 50% 50%;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
.pinel-18{
    background: url("../../public/images/game/paimaihang.jpg") no-repeat 50% 50%;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
.pinel-19{
    background: url("../../public/images/game/py.jpg") no-repeat 50% 50%;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
.pinel-20{
    background: url("../../public/images/game/chaxun.jpg") no-repeat 50% 50%;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
.pinel-21{
    background: url("../../public/images/game/juese.jpg") no-repeat 50% 50%;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
.pinel-22{
    background: url("../../public/images/game/jingying.jpg") no-repeat 50% 50%;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
.pinel-23{
    background: url("../../public/images/game/zhinan.jpg") no-repeat 50% 50%;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
.pinel-24{
    background: url("../../public/images/game/pvp.jpg") no-repeat 50% 50%;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
.pinel-25{
    background: url("../../public/images/game/gonghui.jpg") no-repeat 50% 50%;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
.pinel-26{
    background: url("../../public/images/game/zhuanye.jpg") no-repeat 50% 50%;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}



/***************panic****************/
.panic{
    background: url("../../public/images/game/panic.jpg") no-repeat 50% 50%;
    height: 335px;
    overflow: hidden;
    border-top:1px solid rgba(255,255,255,.08);
    border-bottom: 1px solid rgba(255,255,255,.08);
    position: relative;
}
.panic-con{
    position: relative;
    margin: 140px auto;
    text-align: center;
}
.ruKeng{
    margin: 35px 0;
}
.panic-a{
    display: inline-block;
    width:200px;
    height:60px;
    margin-right: 25px;
}
.rukengbtn{
    display: inline-block;
    margin-right: 25px;
    width:200px;
    height:60px;
    color: #f7b10a;
    line-height: 59px;
    text-align: center;
    border: 1px solid #c77e19;
    margin-top: 0;
    background: rgba(0,0,0,.4);

}
.rukengbtn2{
    background: rgba(159,22,0,.6);
    display: inline-block;
    width:200px;
    height:60px;
    color: #f7b10a;
    line-height: 59px;
    text-align: center;
    border: 1px solid #c77e19;
    margin-top: 0;
}
.rukengbtn:hover{
    background: #b06601;
    text-decoration: none;
}
.rukengbtn:hover span{
    color: #ffd36b;
}
.btn-prev{
    display: inline-block;
}
.btn-next{
    display: inline-block;
}
.download{
    display: block;
}
.rukengbtn span,.rukengbtn2 span{
    color: #f7b10a;
    font-size: 17px;
}
.rukengbtn2:hover{
    background: #9f1600;
    text-decoration: none;
}
.rukengbtn2:hover span{
    color: #ffd36b;
}



/*************************图片轮转*************************/
.largest{
    width: 100%;
    height: 850px;
    overflow: hidden;
    background: url("../../public/images/game/picsbg.jpg") no-repeat 50% 50%;
}
.outimages{
    width: 100%;
    height: 850px;
    overflow: hidden;
    position: relative;

}
.lunzhuan-prev,.lunzhuan-next{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 8;

}
.previcon{
    width: 80px;
    background-size: 100%;
    background-image: url("../../public/images/Icon-prev-3fded894f1.png");
    background-position: center;
    position: absolute;
    left:10px;
    border-color: rgba(248,183,0,.8);
    border-width: 7px 7px 0 0;
    -webkit-filter: none;
    filter: none;
    height: 80px;
    margin: 20px;
    -webkit-transition: border-color .2s;
    transition: border-color .2s;
    display: inline-block;
}
.nexticon{
    width: 80px;
    background-size: 100%;
    background-image: url("../../public/images/Icon-next-0ad78b7f16.png");
    background-position: center;
    position: absolute;
    right:10px;
    border-color: rgba(248,183,0,.8);
    border-width: 7px 7px 0 0;
    -webkit-filter: none;
    filter: none;
    height: 80px;
    margin: 20px;
    -webkit-transition: border-color .2s;
    transition: border-color .2s;
    display: inline-block;
}
.previcon:hover{
    animation: Carousel-Animation-BounceLeft .25s;
}
.lunzhuan-ctrl{
    width:100%;
    height:150px;
    padding:60px 0;
    margin:0 auto;
    position: absolute;
    bottom: 0;
    text-align: center;
}
.ctrl-bar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 21px;
    width:186px;
}
.ctrl-bar-item{
    width:21px;
    height: 21px;
    float: left;
    /*background: red;*/
    margin:0 5px;
}
.not-selected{
    width:21px;
    height: 21px;
    background: url("../../public/images/Icon-shield-66938ea0fc.png");
    background-size: cover;
}
.not-selected:hover{
    background: url("../../public/images/Icon-shield-solid-d0dfd5e616.png");
    background-size: cover;
}
.is-selected{
    width:21px;
    height: 21px;
    background: url("../../public/images/Icon-shield-solid-d0dfd5e616.png");
    background-size: cover;
}
.pics{
    width: 100%;
    overflow: hidden;
    height: 850px;
}
.pics-li{
    /*position: static;*/
    width: 100%;
    overflow: hidden;
    height: 850px;
}
.Carousel-item{
    display: block;
    left: 0;
    position: static;
    overflow: hidden;
    width: 100%;
    height: 850px;
}
.UnCarousel-item{
    display: none;
    left: -99999px;
    position: absolute;
    height: 850px;
    width: 100%;
}
.opcon{
    position: absolute;
    top:0;
    left: 0;
    right:0;
    bottom:0;
    margin: 0 auto;
    width:40%;
    color: #fff;
    overflow: hidden;
}
.large-space{
    width:100%;
    height: 100px;
}
.small-space{
    width:100%;
    height: 40px;
}
.middle-space{
    width:100%;
    height: 60px;
}
.tiny-space{
    width:100%;
    height: 10px;
}
.optit{
    font-size: 54px;
    font-weight: 700;
}
.opitem-tit{
    font-size: 22px;
    font-weight: 700;
}
.op-con{
    font-size: 17px;
    font-weight: 100;
    color: #ebdec2;

}
.op-item{
    position: relative;
}
.Avatar{
    position: relative;
    background-color: #504137;
    background-image: -webkit-linear-gradient(45deg,#352011,#504137,#352011);
    background-image: linear-gradient(45deg,#352011,#504137,#352011);
    border-radius: 50%;
    display: inline-block;
    width: 114px;
    overflow: hidden;
    z-index: 0;
}
.Avatar:before {
    content: "";
    display: block;
    padding-top: 100%;
}
.Avatar-images{
    background-size: cover;
    border: 1px solid #211510;
    border-radius: 50%;
    position: absolute;
    bottom: 3px;
    left: 3px;
    right: 3px;
    top: 3px;
}

.Avatar-images:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #211510;
    background-size: cover;
    border-radius: 50%;
    content: "";
    z-index: -1;
}