body{
    color: #ebdec2;
}
.container{
    width:80%;
}
.pine{
    background: url("../../public/images/news/Pane-dirtDark-.jpg") repeat;
    position: relative;
    top:0;
    left:0;
    right:0;
    bottom:0;
    overflow: hidden;
}
.header{
    background: url("../../public/images/news/bg.jpg") no-repeat;
    width: 100%;
    height:2000px;
    background-size: 2400px;
}
.content{
    padding-top: 200px;
}

/***************hot*******************/
.hot{
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
    padding-left: 3px;
}
.hot a{
    display: inline-block;
    width:100%;
    height:100%;
    color:#ebdec2;
}
.hot a:hover{
    color:#ebdec2;
}
.hot-top{
    width: 100%;
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;
}
.hot-bot{
    width: 100%;
    margin-bottom: 5px;
    position: relative;
}
.hot-con{
    padding: 10px;
}
.hot-big{
    width:66%;
    height:770px;
    float: left;
    padding: 10px;
    position: relative;
}
.hot-small{
    width:33%;
    height:385px;
    float: left;
    padding: 10px;
    position: relative;
}
.hot-content{
    position: relative;
    height: 100%;
    background: #211510;
    border: 1px solid #504137;
}
.hot-content:hover{
    border: 1px solid #f8b700;
}
.hot-pic{
    width: 100%;
    height: 73%;
    border-bottom: 1px solid #504137;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("../../public/images/news/hot-1.jpg");
    background-color: #000;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.hot-tit{
    height: 27%;
    top:73%;
    overflow: hidden;
    position: absolute;
    display: table;
    width: 100%;
}
.hot-tit-c{
    width: 100%;
    display: table;
}
.hot-big .hot-tit-c{
    padding: 40px 30px;
    width: 100%;
}
.hot-small .hot-tit-c{
    padding: 20px;
    width: 100%;
}
.hot-big .hot-con-left{
    float: left;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    padding-right: 10px;
}
.hot-big .hot-con-right{
    width: 160px;
    height: 100%;
    padding-top: 30px;
    text-align: right;
    font-size: 18px;
    float: right;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
}
.hot-big .hot-con-left span{
    font-size: 36px;
    line-height: 52px;
    color: #f8b700;
    font-weight: bold;
}
.hot-small .hot-con-left{
    float: left;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    padding-right: 10px;
}
.hot-small .hot-con-right{
    width: 100px;
    height: 100%;
    padding-top: 30px;
    text-align: right;
    font-size: 18px;
    float: left;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
}
.hot-small .hot-con-left span{
     font-size: 20px;
     line-height: 22px;
     color: #f8b700;
     font-weight: bold;
 }
.hot-synopsis{
    line-height: 28px;
    color: #ebdec2;
    text-transform: uppercase;
    font-size: 14px;
    text-shadow: none;
}


/***********************last***********************/
.last{
    width:100%;

    float: left;
    position: relative;
    margin-top: 30px;
}
.last-item{
    width: 97.3%;
    height:270px;
    border-top:1px solid rgba(170,170,170,.4);
    position: relative;
    margin:0 15px;
    left: 0;
}
.last-item:hover{
    background-color: #211510;
}
.last-item:hover .last-left{
    border-color: #f8b700;
}
.last-con{
    padding: 25px;
    height: 100%;
    position: relative;
}
.last-left{
    width: 380px;
    height: 100%;
    float: left;
    background: url("../../public/images/news/last-1.jpg") no-repeat;
    background-size: cover;
    border: 1px solid #504137;
    display: block;
}
.last-right{
    margin-left: 30px;
    float: left;

}
.last-tit{
    font-size: 2.8em;
    font-weight: bold;
    color: #f8b700;
    line-height: 30px;

}
.last-desc{
    font-size: 1.8em;
    line-height: 2em;
    color: #ebdec2;
    margin: 20px 0;
}
.last-dianji span{
    font-size: 1.5em;
    color: #b1997f;
}
.dianjilang{
    margin-left:10px;
}
.zuihoushijian{
    margin-left:40px;
}
.more{
    width: 97.3%;
    height:140px;
    position: relative;
    left: -5px;
    border-top:1px solid rgba(170,170,170,.4) ;
}
.more-con{
    width: 100%;
    padding: 20px 0;
}
.more-btn{
    margin: 0 auto;
    padding: 0;
    height: 60px;
    width: 180px;
    background: rgba(0,0,0,.4);
    color: #f7b10a;
    text-shadow: none;
    text-transform: uppercase;
    -webkit-transition: background .2s,color .2s;
    transition: background .2s,color .2s;
    border: 1px solid #c77e19;
    text-align: center;
}
.more-btn span{
    line-height: 58px;
    font-weight: 400;
    font-size: 1.8em;

}
.more-btn:hover {
    background: #b06601;
    color: #ffd36b;
}


/************************footer*************************/
.divider{
    height:4px;
    width: 100%;
    float: left;
    position: relative;
    z-index:100;
    background: #000000;
}
.guanzhu{
    height:90px;
    width: 100%;
    float: left;
    position: relative;
    background-image: url("../../public/images/guanzhu.jpg");
    background-position: top;
    background-size: 100%;
    border-top: 1px solid rgba(255,255,255,.08);
    border-bottom: 1px solid rgba(255,255,255,.08);
}
.guanzhu-con{
    display: table;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #ffffff;
    line-height: 90px;
}
.guanzhu ul li{
    font-size: 20px;
    padding: 0 20px 0;
    text-align: center;
}
.guanzhu-con a span{
    margin: 30px auto 0;
    background-image: url("../images/tuiguang-yellow.png");
    width:32px;
    height:30px;
    display: block;
}
.guanzhu-con a span:hover{
    margin: 30px auto 0;
    background-image: url("../images/tuiguang-white.png");
    width:32px;
    height:30px;
    display: block;
}
#wb{
    background-position:0 top ;
}
#qq{
    background-position:-52px top ;
}
#wx{
    background-position:-104px top ;
}
#yk{
    background-position:right top ;
}





/*footer start*/
footer {
    background: url("../images/foot_bg.jpg") repeat center 0;
    padding-top: 142px;
}

.footer{
    width: auto;
    line-height: 20px;
    margin: 0;
    padding: 0;
}
.Cooperation_info{
    width: 1000px;
    position: relative;
    left: 50%;
    margin-left: -500px;
    color: #fff;
    z-index: 100;
    padding: 50px 0;
}
.customer{
    float: left;
}
.customer a{
    margin-right: 37px;
    color:rgba(255,255,255,0.7);
    float: left;
}
.customer_sp{
    display: inline-block;
    width: 19px;
    height: 19px;
    position: relative;
    top:5px;
    margin-right: 10px;
    background: url("../images/gamepoints/f-business_20160608.png") no-repeat;
}

.custom_sp_bg1{
    background-position:  -6px -7px;
}
.custom_sp_bg2{
    background-position: -36px -8px;
}
.custom_sp_bg3{
    background-position: -8px -32px;
}
.customer a:hover{
    color:#ffffff;
}



.brand{
    text-align: right;
    margin-right: 50px;
}
.brand p{
    display: block;
}
.brand_bg{
    display: inline-block;
    font-size: 14px;
    color: #b3b3b3;
    line-height: 20px;
    margin: 0;
    position: relative;
    top:5px;
    background: url("../images/gamepoints/Fbusiness-logo-wow.png") no-repeat;
}
.brand_inter{
    background-position: 0 0;
    width: 36px;
    height: 26px;
}
.brnad_naidia{
    background-position: -36px 0;
    width: 95px;
    height: 26px;
}


.brand_add{
    display: inline-block;
    background: #241101;
    border: 1px solid #2d1702;
    color: #ac771f;
    width: 14px;
    height: 14px;
    margin: 0 0 0 13px;
    position: relative;
    cursor: pointer;
    padding-top: 0;
}
.brand_add:hover .brand_line_h{
    background: #ffffff;
}
.brand_add:hover .brand_line_s{
    background: #ffffff;
}
.brand_line_h{
    width: 10px;
    height: 2px;
    margin: -1px 0 0 -5px;
}
.brand_line_s{
    width: 2px;
    height: 10px;
    margin: -5px 0 0 -1px;
}
.brand_line_s,.brand_line_h{
    position: absolute;
    display: block;
    background: #ac771f;
    top: 50%;
    left: 50%;
}

.f_logo{
    text-align: left;
    width: 1000px;
    margin: 0 auto 8px;
}

.f_logo a{
    display: inline-block;
}
.f_logo_bz{
    width: 125px;
    height: 80px;
    background: url("../images/gamepoints/logo_blizzard.png") no-repeat 0 0;
}
.f_logo_wy{
    width: 125px;
    height: 38px;
    margin: 0 0 0 20px;
    background: url("../images/gamepoints/logo_ne.png") no-repeat 0 0;
}

.f_info{
    width: 640px;
    display: inline-block;
    text-align: left;
    padding: 0 0 0 60px;
    position: relative;
    top:30px;
}
.info{
    margin-left: -10px;
    padding-bottom: 5px;
}
.info:after{
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
    content: ".";
}
.info li{
    float: left;
}
.info li a{
    display: inline-block;
    padding: 0 12px;
    color: rgba(255,255,255,0.7);
}
.info li a:hover{
    color: rgb(255,255,255);
}
.f_info p{
    display: block;
    font-size: 12px;
    line-height: 20px;
    color:rgba(255,255,255,.3);
}
.f_info p span{
    font-size: 12px;
    color:rgba(255,255,255,.3);
    display: inline-block;
}
.f_info p a{
    font-size: 12px;
    color:rgba(255,255,255,.3);
}
.f_info p a:hover{
    color:#ffffff;
}
.integ a{
    display: inline-block;
    margin-right: 15px;
    position: relative;
    top:5px;
}
.tip{
    border-top: 1px solid #1a1a1a;
    width: 90%;
    margin: 40px auto 0;
    padding: 20px;
    text-align: center;
}
.tip p{
    color: rgba(255,255,255,.3);
    font-size: 12px;
}