*{
    margin: 0 auto;
    padding: 0;
    font-family: 微软雅黑,Microsoft YaHei,Helvetica,Tahoma,StSun,宋体,SimSun,sans-serif;
}
a{
    text-decoration: none;
}

li{
    list-style: none;
}

body{
    width: 100%;
    background: url("../../public/images/registered/wow-trial.0rtzs.jpg") no-repeat,
    #361F11;
}

.wow_logo{
    width: 344px;
    height: 140px;
    margin-top: 50px;
    background: url("../../public/images/registered/wow-cn.0z8mB.png") no-repeat 0 0;
}
.wow_reg_success{
    width: 94px;
    height: 94px;
    background: url("../../public/images/registered/green-circle-check.3gLfa.png") no-repeat;
    margin-top: 15px;
}
.wow_success_title{
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 2px;
}
.wow_success_name{
    font-size: 20px;
    color: rgba(255,255,255,0.7);
    margin-top: 20px;
}
.wow_success a{
    color: #0f9ada;
}
.wow_success_email{
    display: block;
    color: limegreen;
    font-size: 23px;
    margin-bottom: 20px;
}
.wow_success{
    display: block;
    margin-bottom: 30px;
    color: rgba(255,255,255,0.7);
}
.wow_success_download{
    width: 580px;
    height: 30px;
    cursor: pointer;
    line-height: 30px;
    border: 1px solid #0f9ada;
    background-image: linear-gradient(to bottom, #0f9ada, #0076ad);
    color: #fff;
}
.wow_success_download:hover{
    background-image: linear-gradient(to bottom, #37c0ff, #0097dd);
}

.wow_user_info{
    background: url('../../public/images/registered/top-light.1x8jO.png') center top no-repeat rgba(29, 34, 44, 0.95);
    padding: 50px 40px;
    margin-top: 30px;
    max-width: 580px;
}
.wow_user_info_tit h1{
    color:#ffffff;
    font-size: 30px;
    font-weight: 100;
    text-align: center;
}
.wow_user_info_tit p{
    display: block;
    color:#ffffff;
    margin-top: 30px;
    font-size: 12px;
    margin-bottom: 22px;
    line-height: 25px;
}
.wow_user_info_tit p span{
    color: #75e900;
}

.wow_user_info_tit a{
    text-decoration: none;
    display: inline-block;
    color: #0f9ada;
}
.wow_user_info_tit a:hover{
    color: #FFFFFF;
}
.icon_link{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../../public/images/registered/sprite-16-blue.1Mem2.png") no-repeat -144px -64px;
    position: relative;
    top:4px;
}

.user_info_inp{
    margin-bottom: 10px;
    font-size: 15px;
    position: relative;
}
.user_info_inp input{
    margin-bottom: 8px;
}
.wow_inp{
    display: inline-block;
    width:580px;
    height: 34px;
    font-size: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    line-height: 20px;
    box-sizing: border-box;
    border-radius: 2px;
    color: rgba(255, 255, 255, 0.5);
}
.wow_inp_sm{
    display: inline-block;
    width: 49%;
    height: 34px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 15px;
    line-height: 20px;
    box-sizing: border-box;
    border-radius: 2px;
    color: rgba(255, 255, 255, 0.7);
}

#upwd{
    margin-right: 7px;
}
.wow_question{
    border: 1px solid #56575A;
    border-top: none;
    position: relative;
    top:-3px;
}
.question1{
    display: block;
    height: 32px;
    line-height: 34px;
    position: relative;
}
.question a{
    display: block;
    height: 26px;
    line-height: 26px;
    padding-left: 10px;
    background:#1E212A;
    color:rgba(255,255,255,0.8);
}
.question a:hover{
    color: #ffffff;
    background:rgba(0,0,0,0.2);
}

.wow_select{
    /*margin-top: 10px;*/
}

.wow_question_arror{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size:160px 480px;
    background: url("../../public/images/registered/sprite-24-blue.png") no-repeat -100px -390px;
    position: absolute;
    top:13px;
    right:10px;
    z-index: 1;
}

.wow_userAns{
    margin-top: 8px;
}



.wow_sub {
    cursor: pointer;
    display: inline-block;
    width: 580px;
    height: 34px;
    font-size: 15px;
    padding: 0 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    line-height: 20px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #0f9ada;
    background-image: linear-gradient(to bottom, #0f9ada, #0076ad);
    color: #fff;
}
.wow_sub:hover{
    background-image: linear-gradient(to bottom, #37c0ff, #0097dd);
}
.wow_btn{
    cursor: pointer;
    display: inline-block;
    width:580px;
    height: 34px;
    font-size: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    line-height: 20px;
    box-sizing: border-box;
    border-radius: 2px;
    color: #0f9ada;
}
.wow_btn:hover{
    background-color: rgba(0, 0, 0, 0.25);
    color: #ffffff;
    border-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 rgba(0, 0, 0, 0);
}
.check{
    font-size: 15px;
    color: #ffffff;
}
.check a{
    color: #0f9ada;
    text-decoration: none;
}
.check_inp{
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.3);
    opacity: 0.3;
    position: relative;
    top:3px;
}
.check_inp:active{
   background: url("../../public/images/registered/sprite-18-inputs.48WPM.png") no-repeat -64px -96px;
}

.err{
    width: auto;
    font-size: 12px;
    color:#cd0606;
    margin-bottom: 10px;
    transition: 0.2s;
}



.email_err,.re_email_err,.pwd_err,.verification_err{
    width: auto;
    font-size: 12px;
    color:#cd0606;
    margin-bottom: 10px;
    transition: 0.2s;
}

.err_icon{
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    position: relative;
    top:3px;
    background: url("../../public/images/registered/sprite-16-red.3vUhX.png") no-repeat -112px -96px;
}


.foot_div{
    width: 100%;
    margin: auto;
    margin-top: 50px;
}
footer.foot{
    width: 85%;
    padding-bottom: 200px;
    position: relative;
}
.customer{
    margin-bottom: 30px;
    position: relative;
}
.customer p{
    display: block;
}
.customer_p_a{
    display: inline-block;
    margin-right: 37px;
    color:rgba(255,255,255,0.7);
    text-decoration: none;
    font-size: 16px;
}
.customer_p_a span{
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    top:5px;
    margin-right: 10px;

}
.cus_p_a_sp1{
    background: url("../../public/images/registered/sprite-24-blue.png") no-repeat -96px 0px;
}
.cus_p_a_sp2{
    background: url("../../public/images/registered/sprite-24-blue.png") no-repeat -144px -24px;
}
.cus_p_a_sp3{
    background: url("../../public/images/registered/sprite-24-blue.png") no-repeat -120px -432px;
}
.customer_right{
    display: inline-block;
    position: absolute;
    right:0;

}

.word_bg{
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../../public/images/registered/sprite-24-blue.png") no-repeat -120px -432px;
    position: relative;
    top:5px;
}
.language{
    display: inline-block;
    color:rgba(255,255,255,0.7);
    position: relative;
    top:-2px;
    left: 5px;
}
.country{
    display: inline-block;
    font-size: 16px;
}
.country_langue{
    display: inline-block;
    font-size: 16px;
}
.drow_icon{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../../public/images/forum/icon/sprite-16-white.png") no-repeat -64px -256px;
    margin-left: 10px;
    opacity: 0.3;
}

.footer_logo{
    float: left;
    width: 113px;
    height: 58px;
}
.footer_text{
    float: left;
    margin-left: 30px;
}


.text_ul{
    width: 800px;
    height: 20px;
    margin-bottom: 10px;
}
.text_ul li,.text_ul_none li{
    float: left;
    font-size: 12px;
    color: rgba(255,255,255,.7);
}
.text_ul li a,.text_ul_none li a{
    display: inline-block;
    text-decoration: none;
    padding: 0 12px;
    color: rgba(255,255,255,0.7);
}
.text_ul_none li a{
    cursor: default;
}

.text_ul li a:hover{
    color: rgb(255,255,255);
}
.text_copy{
    width: 800px;
    height: 20px;
    position:absolute;
    top:150px;
    left:156px;
    color: rgba(255, 255, 255, 0.3);
    font-size: 12px;
}

.integ{
    position: absolute;
    top:170px;
    left:156px;
}
.integ a{
    display: inline-block;
    margin-right: 20px;
    position: relative;
    top:5px;
}



/*验证码*/
.verification{
    width: 200px;
    height: 70px;
    font-size: 25px;
    background: #ffffff;
    border: none;
    display: block;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
}
#yanzheng{
    position: relative;
}
.yanzheng1,.yanzheng2,.yanzheng3,.yanzheng4,.yanzheng5,.yanzheng6{
    position: absolute;
}
.refresh_verification{
    display: block;
    float: left;
    width: 64px;
    height: 64px;
    background: url("../../public/images/registered/sprite-64-blue.15DN8.png") no-repeat -384px -256px;
    position: relative;
    top:10px;
    left: 5px;
}

.pwd_hint{
    width: 580px;
    height: 30px;
    position: relative;
    top:10px;
    z-index: 11;
}
.pwd_arrow,.pwd_arrow:after{
    width: 0;
    height: 0;
    z-index: 0;
    display: block;
    border-top-width: 0;
    border-left-width: 8px;
    border-right-width: 8px;
    border-bottom-width: 8px;
    border-color: transparent;
    border-style: solid;
    border-bottom-color: #3D434F;
}
.pwd_arrow{
    position: absolute;
    left:30px;
    top:-8px;
}
.pwd_arrow:after{
    content: "";
    border-width: 7px;
    display: block;
    z-index: 1;
    width: 0;
    height: 0;
    border-top-width: 0;
    margin-left: -7px;
    border-color: transparent;
    border-style: solid;
    border-bottom-color: #272e3b;
    position: absolute;
    top:2px;
}


.pwd_hint_con{
    width: 580px;
    padding-top: 19px;
    padding-bottom: 19px;
    /*padding: 19px;*/
    text-align: left;
    background: #272e3b;
    font-size: 12px;
    line-height: 20px;
    box-shadow: 0 0 10px #000000;
    border: 1px solid #3D434F;
}
.pwd_hint_con li{
    margin-bottom: 5px;
    padding-left: 20px;
    color:rgba(255,255,255,0.7);
}
.i_icon,.i_icon_success,.i_icon_fail{
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    top:4px;
    right: 3px;
}

.i_icon{
    background: url("../../public/images/registered/sprite-16-gray.3x9fZ.png") no-repeat -32px -224px;
}
.i_icon_success{
    background: url("../../public/images/registered/sprite-16-green.0Xga1.png") no-repeat -144px -80px;
}
.i_icon_fail{
    background: url("../../public/images/registered/sprite-16-red.3vUhX.png") no-repeat -112px -96px;
}
.input_group{
    position: relative;
}
.safe_warn{
    position: absolute;
    right: 15px;
    top: 12px;
    font-style: italic;
    font-size: 12px;
}

.warn_kong{
    width: 580px;
    background:#360e10;
    height: 30px;
    border: 1px solid #000;
    color: #f00;
    line-height: 30px;
    padding-left: 10px;
    margin-bottom: 10px;
}


/*出错*/
.inp_err{
    border: 2px solid #cd0606;
}
.inp_def{
    border: 1px solid  rgba(255, 255, 255, 0.3);
}

.refresh_verification{
    cursor: pointer;
}

.refresh_verification_action{
    animation: refresh 0.5s;
    -moz-animation: refresh 0.5s;	/* Firefox */
    -webkit-animation: refresh 0.5s;	/* Safari 和 Chrome */
    -o-animation: refresh 0.5s;
}

@-webkit-keyframes refresh
{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@-moz-keyframes refresh
{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@-o-keyframes refresh
{
   0% {
       transform: rotate(0deg);
   }
   100% {
       transform: rotate(360deg);
   }
}



@media (max-width: 669px) {
    .wow_logo{
        margin-bottom: 30px;
    }
    .wow_user_info{
        min-width: 280px;
        margin: 0 5px;
        padding: 40px 20px;
    }
    .wow_user_info_tit h1{
        color:#ffffff;
        font-weight: 100;
        font-size: 30px;
        text-align: center;
    }
    .wow_user_info_tit p{
        display: block;
        color:#ffffff;
        margin-top: 30px;
        font-size: 12px;
        margin-bottom: 22px;
        line-height: 25px;
    }
    .wow_user_info_tit p span{
        color: #75e900;
    }
    .wow_inp{
        width: 100%;
    }
    .wow_inp_sm{
        width: 49%;
    }
    .pwd_hint{
        width: 100%;
    }
    .pwd_hint_con{
        width: 100%;
    }

    #pwd{
        margin-right: 0;
    }
    .wow_sub{
        width: 100%;
    }
    .wow_btn{
        width: 100%;
    }

    .customer_p_a{
        margin-right: 0;
    }
    .footer_logo{
        position: absolute;
        left:0;
        right:0;

    }


}
@media (max-width: 1100px) {
    .customer_p_a{
        margin-right: 10px;
        font-size: 15px;
    }
    .footer_logo{
        position: absolute;
        left:0;

    }
    .footer_text{
        position: absolute;
        top:150px;
        margin-left: 0;
    }
    .foot_div{
        width: 100%;
        margin-bottom: 150px;
    }
    .footer_text{
        position: absolute;
        left:0;
        right:0;
        top:150px;
    }
    .text_ul,.text_copy{
        width: 100%;
    }
    .text_ul li a,.text_ul_none li a{
        padding: 0 8px;
    }
    .text_ul li{
        margin-bottom: 5px;
    }
    .text_ul_none li{
        margin-bottom: 5px;
    }
    .text_copy{
        width: 100%;
        top:270px;
        left:0;
        right:0;
    }


    .integ{
        position: absolute;
        top:290px;
        left:0;
        right:0;
    }
    .integ a{
        display: inline-block;
        margin-right: 20px;
        position: relative;
        top:5px;
    }
    .warn_kong{
        width: 100%;
    }
    .wow_success_download{
        width: 100%;
    }
    .wow_reg_success{
        margin-bottom: 15px;
    }

}


.yanzheng1{
    transform: rotate(16deg);
    top:10px;
    left: 0px;
}
.yanzheng2{
    transform: rotate(26deg);
    top:10px;
    left: 10px;
}
.yanzheng3{
    transform: rotate(11deg);
    top:10px;
    left: 20px;
}
.yanzheng4{
    transform: rotate(19deg);
    top:10px;
    left: 30px;
}
.yanzheng5{
    transform: rotate(21deg);
    top:10px;
    left: 40px;
}
.yanzheng6{
    transform: rotate(24deg);
    top:10px;
    left: 50px;
}