<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>魔兽世界</title>
    <link rel="shortcut icon" href="../../../public/images/favicon.ico" type="image/x-icon"/>
    <link href="../../../public/css/classes.css" rel="stylesheet">
    <link href="../../../public/css/nav.css" rel="stylesheet">
    <link href="../../../public/dist/css/bootstrap.min.css" rel="stylesheet" />

    <script src="../../../public/js/jquery-2.0.3.js"></script>
</head>
<body>
<div class="page">
    <div class="top-boxer">

        <div class="menu" id="menu">

            <div class="nav" id="nav">
                <a href="home.html"  class="menu-logo-a">
                    <div id="menu-logo" class="menu-logo"></div>
                </a>
                <div class="menu-search">
                    <input type="button" value="搜索内容" />
                </div>
                <ul class="leftnav">

                    <li class="menuli">
                        <a href="javascript:void(0);" class="menu-a" id="game">
                            <span class="menu-span">游戏</span>
                            <span class="zt glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                        </a>
                    </li>
                    <li class="menuli">
                        <a href="javascript:void(0);" class="menu-a" id="story">
                            <span class="menu-span">故事背景</span>
                            <span class="zt glyphicon glyphicon-chevron-down"></span></a>

                    </li>
                    <li class="menuli">
                        <a href="/news" class="menu-a"><span class="menu-span">新闻</span></a>
                    </li>
                    <li class="menuli">
                        <a href="/forum" class="menu-a"><span class="menu-span">论坛</span></a>
                    </li>
                </ul>
                <ul class="rightnav">
                    <li class="menuli">
                        <a href="" class="menu-a"><span class="menu-span">
                                <span class="\zt glyphicon glyphicon-search"></span></span></a>
                    </li>
                    {% if userInfo._id %}
                    {% if userInfo.isadmin %}
                    <li class="menuli logined" id="adLogHome" style="display: none">
                        <a href="" class=" menuli-a">
                            <span class="menu-span">{{}}</span>

                        </a>
                    </li>

                    {%else%}
                    <li class="menuli logined" id="LogHome" style="display: none">
                        <a href="" class="menu-a">
                            <span class="menu-span">{{}}</span>
                            <span class="zt glyphicon glyphicon-chevron-down"></span>
                        </a>

                    </li>
                    {%endif%}

                    {%else%}
                    <li class="menuli home_no" style="display: block">
                        <a href="/user/login" class="menu-a">
                            <span class="menu-span">登录</span>
                        </a>
                    </li>
                    <li class="menuli home_no" id="register" style="display: block">
                        <a href="/user/register" class="menu-a">
                            <span class="menu-span">注册</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="menu-tuozhan" id="tuozhan1" style="display: none;">
                <div class="tuozhan-con">
                    <div class="tuozhanlan">
                        <div class="tuozhan-title">
                            <span>游戏玩法</span>
                        </div>

                        <ul>
                            <li><a href="/gameraces">种族</a></li>
                            <li><a href="/gameclass">职业</a></li>
                            <li><a href="">天赋模拟器</a></li>
                            <li><a href="">服务器状态</a></li>
                            <li><a href="">拍卖行</a></li>
                        </ul>
                    </div>
                    <div class="tuozhanlan">
                        <div class="tuozhan-title">
                            <span>指南</span>
                        </div>
                        <ul>
                            <li><a href="/newplayers1">新玩家：准备起步</a></li>
                            <li><a href="/oldplayers1">回归玩家：欢迎回归</a></li>

                        </ul>
                    </div>

                    <div class="tuozhanlan">
                        <div class="tuozhan-title">
                            <span>下载</span>
                        </div>
                        <ul>
                            <li><a href="/download">下载《魔兽世界》</a></li>

                        </ul>
                    </div>
                    {% if userInfo._id %}

                    <div class="tuozhanlan">
                        <div class="tuozhan-title">
                            <span>控制</span>
                        </div>
                        <div class="tuozhan">
                            <ul>
                                {% if userInfo.isadmin %}
                                <li><a href="/admin">后台</a></li>
                                {% endif %}
                                <li><a id="tuichu" href="">退出</a></li>
                                <script>
                                    $("#tuichu").on("click",function () {
                                        $.get("/api/outlog",function (data) {
                                            if(data=="1"){
                                                location.href="/home";
                                                alert("退出成功");
                                            }
                                            console.log("aaaaaaa")
                                        })
                                    })
                                </script>
                            </ul>
                        </div>

                    </div>
                    {% endif %}
                </div>

            </div>
            <div class="menu-tuozhan" id="tuozhan2" style="display: none;">
                <div class="tuozhan-con">
                    <div class="tuozhanlan">
                        <div class="tuozhan-title">
                            <span>魔兽世界知识</span>
                        </div>

                        <ul>
                            <li><a href="">所有</a></li>
                            <li><a href="">视频</a></li>
                            <li><a href="">音频</a></li>
                            <li><a href="">漫画</a></li>
                            <li><a href="">小说</a></li>
                            <li><a href="">短篇小说</a></li>
                            <li><a href="">魔兽角色</a></li>
                        </ul>
                    </div>
                    <div class="tuozhanlan">
                        <div class="tuozhan-title">
                            <span>魔兽里程碑</span>
                        </div>
                        <ul>
                            <li><a href="">魔兽里程碑</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="zz">职业</div>
        <div class="zzjianjie">不论是盔甲闪亮的骑士、难以捉摸的追猎者或是睿智致命的施法者，魔兽世界中的每个职业都独具魅力且玩法皆不尽相同。你会选择哪个职业呢？</div>
    </div>
    <div class="content">
        <div class="ALLIANCE">

            <div class="con-lof3">
                <div class="card cards">
                    <a href="" class="cards-card">
                        <div class="card-ima">
                            <div class="airen" style="background: url('../../../public/images/game/airen.jpg');background-size: cover;"></div>
                        </div>
                        <div class="card-con">
                            <div class="card-all">
                                <span class="card-tit">矮人</span>
                                <span class="card-p">大胆而勇敢的矮人族是一支古老的种族，它起源于早期世界的泰坦用具有活力的石头创造的土灵。</span>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="card cards">
                    <a href="" class="cards-card">
                        <div class="card-ima">
                            <div class="airen" style="background: url('../../../public/images/game/zhuru.jpg');background-size: cover;"></div>
                        </div>
                        <div class="card-con">
                            <div class="card-all">
                                <span class="card-tit">侏儒</span>
                                <span class="card-p">聪明、生机勃勃并且阴晴不定的侏儒在艾泽拉斯文明的种族中代表了一个独特的矛盾体。</span>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="card cards">
                    <a href="" class="cards-card">
                        <div class="card-ima">
                            <div class="airen" style="background: url('../../../public/images/game/renlei.jpg');background-size: cover;"></div>
                        </div>
                        <div class="card-con">
                            <div class="card-all">
                                <span class="card-tit">人类</span>
                                <span class="card-p">虽然人类只是艾泽拉斯大陆上最年轻的种族之一，但他们的坚毅和决心已经帮助他们战胜了许多挑战。</span>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="card cards">
                    <a href="" class="cards-card">
                        <div class="card-ima">
                            <div class="airen" style="background: url('../../../public/images/game/anyejingling.jpg');background-size: cover;"></div>
                        </div>
                        <div class="card-con">
                            <div class="card-all">
                                <span class="card-tit">暗夜精灵</span>
                                <span class="card-p">古老而与世隔绝的暗夜精灵在艾泽拉斯历史的形成中扮演着关键性的角色。</span>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="card cards">
                    <a href="" class="cards-card">
                        <div class="card-ima">
                            <div class="airen" style="background: url('../../../public/images/game/delaini.jpg');background-size: cover;"></div>
                        </div>
                        <div class="card-con">
                            <div class="card-all">
                                <span class="card-tit">德莱尼</span>
                                <span class="card-p">德莱尼人以坚定不移的圣光信仰作为武器，他们逃离了战火纷飞的家园，成为了联盟的中坚成员，他们必将让这些古老的恶魔宿敌付出代价。</span>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="card cards">
                    <a href="" class="cards-card">
                        <div class="card-ima">
                            <div class="airen" style="background: url('../../../public/images/game/langren.jpg');background-size: cover;"></div>
                        </div>
                        <div class="card-con">
                            <div class="card-all">
                                <span class="card-tit">狼人</span>
                                <span class="card-p">在可怕的格雷迈恩之墙后面，有一个可怕的诅咒肆虐了吉尔尼斯这个与世隔绝的人类王国，许多健壮的居民被转化成可怕的野兽，他们被称为狼人。</span>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="card cards">
                    <a href="" class="cards-card">
                        <div class="card-ima">
                            <div class="airen" style="background: url('../../../public/images/game/xiongmaoren1.jpg');background-size: cover;"></div>
                        </div>
                        <div class="card-con">
                            <div class="card-all">
                                <span class="card-tit">熊猫人</span>
                                <span class="card-p">睿智的熊猫人重视身心的和谐，并为潘达利亚大陆的富饶和完整不懈地斗争着。一部分熊猫人离开了家乡加入联盟，在此寻找真正的正义以及荣耀。</span>
                            </div>

                        </div>
                    </a>
                </div>
            </div>
        </div>


        <div class="HORDE">

            <div class="con-lof3">
                <div class="card cards">
                    <a href="" class="cards-card">
                        <div class="card-ima">
                            <div class="airen" style="background: url('../../../public/images/game/shouren.jpg');background-size: cover;"></div>
                        </div>
                        <div class="card-con">
                            <div class="card-all">
                                <span class="card-tit">兽人</span>
                                <span class="card-p">和部落的其他种族不同的是，兽人不是艾泽拉斯原住民。起初，他们以萨满部族的身份居住在苍翠繁茂的德拉诺世界。</span>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="card cards">
                    <a href="" class="cards-card">
                        <div class="card-ima">
                            <div class="airen" style="background: url('../../../public/images/game/ntr.jpg');background-size: cover;"></div>
                        </div>
                        <div class="card-con">
                            <div class="card-all">
                                <span class="card-tit">牛头人</span>
                                <span class="card-p">爱好和平的牛头人（在他们自己的语言中称为shu’halo）长期居住在卡利姆多，在他们的女神大地母亲的命令下，他们努力保护大自然的平衡。</span>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="card cards">
                    <a href="" class="cards-card">
                        <div class="card-ima">
                            <div class="airen" style="background: url('../../../public/images/game/jumo.jpg');background-size: cover;"></div>
                        </div>
                        <div class="card-con">
                            <div class="card-all">
                                <span class="card-tit">巨魔</span>
                                <span class="card-p">艾泽拉斯野蛮的巨魔因其残忍、邪恶的神秘主义以及对其他种族的强烈仇恨而臭名昭著。</span>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="card cards">
                    <a href="" class="cards-card">
                        <div class="card-ima">
                            <div class="airen" style="background: url('../../../public/images/game/wangling.jpg');background-size: cover;"></div>
                        </div>
                        <div class="card-con">
                            <div class="card-all">
                                <span class="card-tit">亡灵</span>
                                <span class="card-p">第三次战争后，巫妖王对其庞大军队的控制开始减弱，一小支亡灵队伍挣脱了他们主人的意志。</span>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="card cards">
                    <a href="" class="cards-card">
                        <div class="card-ima">
                            <div class="airen" style="background: url('../../../public/images/game/xuejingling.jpg');background-size: cover;"></div>
                        </div>
                        <div class="card-con">
                            <div class="card-all">
                                <span class="card-tit">血精灵</span>
                                <span class="card-p">在第三次战争期间，居住在奎尔萨拉斯的高等精灵几乎被屠杀殆尽。现在他们努力想要重现种族昔日的辉煌，并克服对奥术魔法的依赖。</span>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="card cards">
                    <a href="" class="cards-card">
                        <div class="card-ima">
                            <div class="airen" style="background: url('../../../public/images/game/dijing.jpg');background-size: cover;"></div>
                        </div>
                        <div class="card-con">
                            <div class="card-all">
                                <span class="card-tit">地精</span>
                                <span class="card-p">当锈水财阀的地精与其交往过的盟友重修旧好，他们受到了部落的热烈欢迎。</span>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="card cards">
                    <a href="" class="cards-card">
                        <div class="card-ima">
                            <div class="airen" style="background: url('../../../public/images/game/xiongmaoren2.jpg');background-size: cover;"></div>
                        </div>
                        <div class="card-con">
                            <div class="card-all">
                                <span class="card-tit">熊猫人</span>
                                <span class="card-p">睿智的熊猫人重视身心的和谐，并为潘达利亚大陆的富饶和完整不懈地斗争着。一部分熊猫人离开了家乡加入部落，毅然承担起保卫家园和其他种族的重担。</span>
                            </div>

                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="divider"></div>
<div class="guanzhu">
    <div class="guanzhu-con">
        <ul>
            <li><span>关注魔兽</span></li>
            <li><a href=""><span id="wb"></span></a></li>
            <li><a href=""><span id="qq"></span></a></li>
            <li><a href=""><span id="wx"></span></a></li>
            <li><a href=""><span id="yk"></span></a></li>
        </ul>
    </div>
</div>


<footer>
    <div class="footer">
        <div class="Cooperation_info">
            <p class="customer">
                <a href="https://www.battlenet.com.cn/support/zh/" target="_blank"><span class="customer_sp custom_sp_bg1"></span>在线客服</a>
                <a href="http://www.battlenet.com.cn/zh/feedback" target="_blank"><span class="customer_sp custom_sp_bg2"></span>反馈</a>
                <a href="http://wangzhiyi.zhiye.com/" target="_blank"><span class="customer_sp custom_sp_bg3"></span>加入我们</a>
            </p>
            <div class="brand">
                <p>
                    <strong>合作伙伴：</strong>
                    <a href="http://www.intel.cn/content/www/cn/zh/homepage.html" target="_blank" class="brand_bg brand_inter"></a>
                    <a href="http://www.nvidia.cn/page/home.html" target="_blank" class="brand_bg brnad_naidia"></a>
                    <a href="mailto:business@battlenet.com.cn" target="_blank" class="brand_add">
                        <span class="brand_line_h"></span>
                        <span class="brand_line_s"></span>
                    </a>
                </p>
            </div>
        </div>
        <div class="f_logo">
            <a href="" class="f_logo_bz"></a>
            <a href="" class="f_logo_wy"></a>
            <div class="f_info">
                <ul class="info">
                    <li><a target="_blank" href="http://www.battlenet.com.cn/zh/legal-cn/privacy">隐私</a>|</li>
                    <li><a target="_blank" href="http://www.battlenet.com.cn/zh/legal-cn/">法律条款</a>|</li>
                    <li><a target="_blank" href="https://dev.battle.net/">API</a></li>
                </ul>
                <p>
                    ©2016 暴雪娱乐股份有限公司版权所有
                    <span>由上海网之易网络科技发展有限公司运营&nbsp;
                        <a href="http://www.battlenet.com.cn/legal-cn/infringementnotice" target="_blank">著作权侵权</a></span>
                    新出审字：[2014]1451号
                </p>
                <p>
                    文网进字[2014]0116号
                    <a href="http://blz.nos.netease.com/1/frame/cprt/license.jpg">沪网文[2014]0731-161号</a>
                    <a href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action">增值电信业务经营许可证编号：沪B2－20080012</a>
                </p>
                <p>互联网违法和不良信息举报电话：0571-28090163</p>
                <p class="integ">
                    <a target="_blank" href="http://sh.cyberpolice.cn/infoCategoryListAction.do?act=initjpg"><img src="../../../public/images/police.png"></a>
                    <a target="_blank" href="http://www.zx110.org/"><img src="../../../public/images/zx110.png"></a>
                    <a target="_blank" href="http://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&entyId=20111011175417664"><img src="../../../public/images/sgs-icon.png"></a>
                    <a target="_blank" href="http://www.shjbzx.cn/"><img src="../../../public/images/icon20120516.png"></a>
                </p>
            </div>
        </div>
        <div class="tip">
            <p>积极健康的游戏心态是健康游戏的开端，本游戏故事情节设置紧凑，请您合理控制游戏时间，避免沉溺游戏影响生活，注意自我保护，防范网络陷阱。 </p>
            <p>健康游戏忠告：抵制不良游戏，拒绝盗版游戏。注意自我保护，谨防受骗上当。适度游戏益脑，沉迷游戏伤身。合理安排时间，享受健康生活。</p>
        </div>
    </div>
</footer>

<script src="../../../public/js/nav.js"></script>
</body>
</html>