<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>魔兽世界</title>
    <link rel="shortcut icon" href="../../../public/images/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="../../../public/css/download.css">

</head>
<body>
    <div class="bar"></div>
    <div class="page">

        <div id="header" class="header">
            <div id="landing_video">
                <video preload="true" autoplay="autoplay" loop="true">
                    <source type="video/mp4" src="../../../public/video/large-4.mp4">
                </video>
            </div>
            <div class="header-text">
                <div class="logo">
                    <a href=""></a>
                </div>
                <div class="g-btn">
                    <div class="m-btn-wrapper">
                        <p class="g-title">下载最新客户端</p>
                        <div class="w-info-btn">
                            <div>
                                <a href="" class="btn login-btn">战网客户端下载器</a>
                                <p class="dl-list">
                                    <a href="" class="dl-btn">下载地址一</a>
                                    <a href="" class="dl-btn">下载地址二</a>
                                    <a href="" class="dl-btn">下载地址三</a>
                                </p>
                                <p>请下载安装器并运行安装</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="item-list tb-wrapper" id="qudong">
                <p class="list-title">驱动下载链接</p>
                <div class="m-pay-type">
                    <div class="type-list">
                        <p class="title logo-img"></p>
                        <p class="v-type">32位</p>
                        <p class="v-list"><span class="version"><span class="pull-left">版</span><span class="pull-right">本：</span></span><span class="ve-detail">372.54 - WHQL</span></p>
                        <p class="v-list"><span class="version"><span class="pull-left">发行</span><span class="pull-right">日期：</span></span><span class="ve-detail">2016年8月15日</span></p>
                        <p class="v-list"><span class="version">操作系统：</span><span class="ve-detail">Windows 7 、Windows 8.1 、Windows 8</span></p>
                        <p class="v-list"><span class="version"><span class="pull-left">语</span><span class="pull-right">言：</span></span><span class="ve-detail">简体中文</span></p>
                        <p class="v-list"><span class="version"><span class="pull-left">文件</span><span class="pull-right">大小：</span></span><span class="ve-detail">278 MB</span></p>
                        <div class="w-info-btn1">
                            <a href="" class="login-btn v-btn">驱动下载</a>
                        </div>
                    </div>
                    <div class="type-list left-sep">
                        <p class="title logo-img"></p>
                        <p class="v-type">64位</p>
                        <p class="v-list"><span class="version"><span class="pull-left">版</span><span class="pull-right">本：</span></span><span class="ve-detail">372.54 - WHQL</span></p>
                        <p class="v-list"><span class="version"><span class="pull-left">发行</span><span class="pull-right">日期：</span></span><span class="ve-detail">2016年8月15日</span></p>
                        <p class="v-list"><span class="version">操作系统：</span><span class="ve-detail">Windows 7 、Windows 8.1 、Windows 8</span></p>
                        <p class="v-list"><span class="version"><span class="pull-left">语</span><span class="pull-right">言：</span></span><span class="ve-detail">简体中文</span></p>
                        <p class="v-list"><span class="version"><span class="pull-left">文件</span><span class="pull-right">大小：</span></span><span class="ve-detail">346.06 MB</span></p>
                        <div class="w-info-btn1">
                            <a href="" class="login-btn v-btn">驱动下载</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-list tb-wrapper">
                <table rules="all">
                    <caption>硬件推荐配置信息</caption>
                    <thead>
                    <tr>
                        <th width="155">画质等级</th>
                        <th>超高画质+4K</th>
                        <th>超高画质</th>
                        <th>高级画质</th>
                        <th class="last-child">中级画质</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td width="155" class="col-title">建议显卡</td>
                        <td width="260">台式机笔记本均推荐GTX 1080 或同等级NVIDIA显卡</td>
                        <td width="260">台式机笔记本均推荐GTX 1070 或同等级NVIDIA显卡</td>
                        <td>台式机笔记本均推荐GTX 1060 或同等级NVIDIA显卡</td>
                        <td class="last-child">台式机笔记本均推荐GTX 1050 Ti 或同等级NVIDIA显卡</td>
                    </tr>
                    <tr>
                        <td class="col-title">建议分辨率</td>
                        <td>台式机推荐: 3840×2160<br>笔记本推荐 1920x1080</td>
                        <td>台式机推荐: 2560×1440<br>笔记本电脑推荐: 1920×1080</td>
                        <td>台式机笔记本均推荐1920x1080</td>
                        <td class="last-child">台式机笔记本均推荐1920x1080</td>
                    </tr>
                    <tr class="last-child">
                        <td class="col-title">建议CPU</td>
                        <td>英特尔® Core™ i7或者更高等级CPU</td>
                        <td>英特尔® Core™ i7或者更高等级CPU</td>
                        <td>英特尔® Core™ i5或者更高等级CPU</td>
                        <td class="last-child">英特尔® Core™ i3或者更高等级CPU</td>
                    </tr>

                    </tbody>
                </table>
                <div class="uu-wrapper">
                    <p class="uu-title">网络优化工具推荐</p>
                    <p class="uu-tips">若您在游戏时存在高延迟、频繁掉线等网络问题，可以尝试下载</p>
                    <a href="" class="uu-link"> <img src="../../../public/images/uujiasu.png"></a>
                </div>


            </div>
        </div>
    </div>


    <div class="friend-logo">
        <p><a href="">合作伙伴<i class="logo-img"></i></a></p>
    </div>
    <footer>
        <div class="footer">
            <div class="Cooperation_info">
                <p class="customer">
                    <a href="https://www.battlenet.com.cn/support/zh/" target="_blank"><span class="customer_sp custom_sp_bg1"></span>在线客服</a>
                    <a href="http://www.battlenet.com.cn/zh/feedback" target="_blank"><span class="customer_sp custom_sp_bg2"></span>反馈</a>
                    <a href="http://wangzhiyi.zhiye.com/" target="_blank"><span class="customer_sp custom_sp_bg3"></span>加入我们</a>
                </p>
                <div class="brand">
                    <p>
                        <strong>合作伙伴：</strong>
                        <a href="http://www.intel.cn/content/www/cn/zh/homepage.html" target="_blank" class="brand_bg brand_inter"></a>
                        <a href="http://www.nvidia.cn/page/home.html" target="_blank" class="brand_bg brnad_naidia"></a>
                        <a href="mailto:business@battlenet.com.cn" target="_blank" class="brand_add">
                            <span class="brand_line_h"></span>
                            <span class="brand_line_s"></span>
                        </a>
                    </p>
                </div>
            </div>
            <div class="f_logo">
                <a href="" class="f_logo_bz"></a>
                <a href="" class="f_logo_wy"></a>
                <div class="f_info">
                    <ul class="info">
                        <li><a target="_blank" href="http://www.battlenet.com.cn/zh/legal-cn/privacy">隐私</a>|</li>
                        <li><a target="_blank" href="http://www.battlenet.com.cn/zh/legal-cn/">法律条款</a>|</li>
                        <li><a target="_blank" href="https://dev.battle.net/">API</a></li>
                    </ul>
                    <p>
                        ©2016 暴雪娱乐股份有限公司版权所有
                        <span>由上海网之易网络科技发展有限公司运营&nbsp;
                        <a href="http://www.battlenet.com.cn/legal-cn/infringementnotice" target="_blank">著作权侵权</a></span>
                        新出审字：[2014]1451号
                    </p>
                    <p>
                        文网进字[2014]0116号
                        <a href="http://blz.nos.netease.com/1/frame/cprt/license.jpg">沪网文[2014]0731-161号</a>
                        <a href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action">增值电信业务经营许可证编号：沪B2－20080012</a>
                    </p>
                    <p>互联网违法和不良信息举报电话：0571-28090163</p>
                    <p class="integ">
                        <a target="_blank" href="http://sh.cyberpolice.cn/infoCategoryListAction.do?act=initjpg"><img src="../../../public/images/police.png"></a>
                        <a target="_blank" href="http://www.zx110.org/"><img src="../../../public/images/zx110.png"></a>
                        <a target="_blank" href="http://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&entyId=20111011175417664"><img src="../../../public/images/sgs-icon.png"></a>
                        <a target="_blank" href="http://www.shjbzx.cn/"><img src="../../../public/images/icon20120516.png"></a>
                    </p>
                </div>
            </div>
            <div class="tip">
                <p>积极健康的游戏心态是健康游戏的开端，本游戏故事情节设置紧凑，请您合理控制游戏时间，避免沉溺游戏影响生活，注意自我保护，防范网络陷阱。 </p>
                <p>健康游戏忠告：抵制不良游戏，拒绝盗版游戏。注意自我保护，谨防受骗上当。适度游戏益脑，沉迷游戏伤身。合理安排时间，享受健康生活。</p>
            </div>
        </div>
    </footer>
</body>
</html>