<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新玩家指南</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../../../public/images/favicon.ico" type="image/x-icon"/>
    <link href="../../../public/css/newplayers.css" rel="stylesheet">
    <link href="../../../public/css/nav.css" rel="stylesheet">
</head>
<body>
    <div class="page">
        <div class="header">
            <div class="top-boxer">

                <div class="menu" id="menu">

                    <div class="nav" id="nav">
                        <a href=""  class="menu-logo-a">
                            <div id="menu-logo" class="menu-logo"></div>
                        </a>
                        <div class="menu-search">
                            <input type="button" value="搜索内容" />
                        </div>
                        <ul class="leftnav">

                            <li class="menuli">
                                <a href="javascript:void(0);" class="menu-a" id="game">
                                    <span class="menu-span">游戏</span>
                                    <span class="zt glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                                </a>
                            </li>
                            <li class="menuli">
                                <a href="javascript:void(0);" class="menu-a" id="story">
                                    <span class="menu-span">故事背景</span>
                                    <span class="zt glyphicon glyphicon-chevron-down"></span></a>

                            </li>
                            <li class="menuli">
                                <a href="" class="menu-a"><span class="menu-span">新闻</span></a>
                            </li>
                            <li class="menuli">
                                <a href="" class="menu-a"><span class="menu-span">论坛</span></a>
                            </li>
                        </ul>
                        <ul class="rightnav row">
                            <li class="menuli">
                                <a href="" class="menu-a"><span class="menu-span">
                                <span class="\zt glyphicon glyphicon-search"></span></span></a></li>
                            <li class="menuli">
                                <a href="login.html" class="menu-a">
                                    <span class="menu-span">登录</span>
                                </a>
                            </li>
                            <li class="menuli" id="register">
                                <a href="" class="menu-a">
                                    <span class="menu-span">注册</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="menu-tuozhan" id="tuozhan1" style="display: none;">
                        <div class="tuozhan-con">
                            <div class="tuozhanlan">
                                <div class="tuozhan-title">
                                    <span>游戏玩法</span>
                                </div>

                                <ul>
                                    <li><a href="">种族</a></li>
                                    <li><a href="">职业</a></li>
                                    <li><a href="">天赋模拟器</a></li>
                                    <li><a href="">服务器状态</a></li>
                                    <li><a href="">拍卖行</a></li>
                                </ul>
                            </div>
                            <div class="tuozhanlan">
                                <div class="tuozhan-title">
                                    <span>指南</span>
                                </div>
                                <ul>
                                    <li><a href="">新玩家：准备起步</a></li>
                                    <li><a href="">回归玩家：欢迎回归</a></li>

                                </ul>
                            </div>
                            <div class="tuozhanlan">
                                <div class="tuozhan-title">
                                    <span>竞技</span>
                                </div>
                                <div class="tuozhan">
                                    <ul>
                                        <li><a href="">史诗钥石排行榜</a></li>
                                        <li><a href="">PvP排行榜</a></li>
                                    </ul>
                                </div>

                            </div>
                            <div class="tuozhanlan">
                                <div class="tuozhan-title">
                                    <span>下载</span>
                                </div>
                                <ul>
                                    <li><a href="">下载《魔兽世界》</a></li>

                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="menu-tuozhan" id="tuozhan2" style="display: none;">
                        <div class="tuozhan-con">
                            <div class="tuozhanlan">
                                <div class="tuozhan-title">
                                    <span>魔兽世界知识</span>
                                </div>

                                <ul>
                                    <li><a href="">所有</a></li>
                                    <li><a href="">视频</a></li>
                                    <li><a href="">音频</a></li>
                                    <li><a href="">漫画</a></li>
                                    <li><a href="">小说</a></li>
                                    <li><a href="">短篇小说</a></li>
                                    <li><a href="">魔兽角色</a></li>
                                </ul>
                            </div>
                            <div class="tuozhanlan">
                                <div class="tuozhan-title">
                                    <span>魔兽里程碑</span>
                                </div>
                                <ul>
                                    <li><a href="">魔兽里程碑</a></li>


                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="header-tit">
                <h2>新手指南</h2>
                <div class="xinshou">
                    来自世界各地、不同种族的英雄都聚集在这片充满史诗冒险的大陆上。你也想成为艾泽拉斯大陆的传奇人物吗？有了这份指南，摘取传奇头衔指日可待！</div>
            </div>
        </div>
        
        
        <div class="tabs">
            <div class="tabs-container">
                <ul class="tabs-list">
                    <li class="tabs-item"><a href="" class="tabs-on">第一部分</a></li>
                    <li class="tabs-item"><a href="" class="tabs-off">第二部分</a></li>
                    <li class="tabs-item"><a href="" class="tabs-off">第三部分</a></li>
                    <li class="tabs-item"><a href="" class="tabs-off">第四部分</a></li>
                </ul>
            </div>

        </div>
        <div class="Divider"></div>
    </div>
</body>
</html>