<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第三部分 - WoW</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../../../public/images/favicon.ico" type="image/x-icon"/>
    <link href="../../../public/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../../public/css/newplayers.css" rel="stylesheet">
    <script src="../../../public/js/jquery-2.0.3.js"></script>
    <script src="../../../public/js/nav.js"></script>
    <link href="../../../public/css/nav.css" rel="stylesheet">
    <link href="../../../public/css/footer.css" rel="stylesheet">
</head>
<body>
    <div class="page">
        <div class="header">
            <div class="top-boxer">

                <div class="menu" id="menu">

                    <div class="nav" id="nav">
                        <a href=""  class="menu-logo-a">
                            <div id="menu-logo" class="menu-logo"></div>
                        </a>
                        <div class="menu-search">
                            <input type="button" value="搜索内容" />
                        </div>
                        <ul class="leftnav">

                            <li class="menuli">
                                <a href="javascript:void(0);" class="menu-a" id="game">
                                    <span class="menu-span">游戏</span>
                                    <span class="zt glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                                </a>
                            </li>
                            <li class="menuli">
                                <a href="javascript:void(0);" class="menu-a" id="story">
                                    <span class="menu-span">故事背景</span>
                                    <span class="zt glyphicon glyphicon-chevron-down"></span></a>

                            </li>
                            <li class="menuli">
                                <a href="" class="menu-a"><span class="menu-span">新闻</span></a>
                            </li>
                            <li class="menuli">
                                <a href="" class="menu-a"><span class="menu-span">论坛</span></a>
                            </li>
                        </ul>
                        <ul class="rightnav row">
                            <li class="menuli">
                                <a href="" class="menu-a"><span class="menu-span">
                                <span class="\zt glyphicon glyphicon-search"></span></span></a></li>
                            <li class="menuli">
                                <a href="" class="menu-a">
                                    <span class="menu-span">登录</span>
                                </a>
                            </li>
                            <li class="menuli" id="register">
                                <a href="" class="menu-a">
                                    <span class="menu-span">注册</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="menu-tuozhan" id="tuozhan1" style="display: none;">
                        <div class="tuozhan-con">
                            <div class="tuozhanlan">
                                <div class="tuozhan-title">
                                    <span>游戏玩法</span>
                                </div>

                                <ul>
                                    <li><a href="">种族</a></li>
                                    <li><a href="">职业</a></li>
                                    <li><a href="">天赋模拟器</a></li>
                                    <li><a href="">服务器状态</a></li>
                                    <li><a href="">拍卖行</a></li>
                                </ul>
                            </div>
                            <div class="tuozhanlan">
                                <div class="tuozhan-title">
                                    <span>指南</span>
                                </div>
                                <ul>
                                    <li><a href="">新玩家：准备起步</a></li>
                                    <li><a href="">回归玩家：欢迎回归</a></li>

                                </ul>
                            </div>
                            <div class="tuozhanlan">
                                <div class="tuozhan-title">
                                    <span>竞技</span>
                                </div>
                                <div class="tuozhan">
                                    <ul>
                                        <li><a href="">史诗钥石排行榜</a></li>
                                        <li><a href="">PvP排行榜</a></li>
                                    </ul>
                                </div>

                            </div>
                            <div class="tuozhanlan">
                                <div class="tuozhan-title">
                                    <span>下载</span>
                                </div>
                                <ul>
                                    <li><a href="">下载《魔兽世界》</a></li>

                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="menu-tuozhan" id="tuozhan2" style="display: none;">
                        <div class="tuozhan-con">
                            <div class="tuozhanlan">
                                <div class="tuozhan-title">
                                    <span>魔兽世界知识</span>
                                </div>

                                <ul>
                                    <li><a href="">所有</a></li>
                                    <li><a href="">视频</a></li>
                                    <li><a href="">音频</a></li>
                                    <li><a href="">漫画</a></li>
                                    <li><a href="">小说</a></li>
                                    <li><a href="">短篇小说</a></li>
                                    <li><a href="">魔兽角色</a></li>
                                </ul>
                            </div>
                            <div class="tuozhanlan">
                                <div class="tuozhan-title">
                                    <span>魔兽里程碑</span>
                                </div>
                                <ul>
                                    <li><a href="">魔兽里程碑</a></li>


                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="header-tit">
                <h2>新手指南</h2>
                <div class="xinshou">
                    来自世界各地、不同种族的英雄都聚集在这片充满史诗冒险的大陆上。你也想成为艾泽拉斯大陆的传奇人物吗？有了这份指南，摘取传奇头衔指日可待！</div>
            </div>
        </div>


        <div class="tabs">
            <div class="tabs-container">
                <ul class="tabs-list">
                    <li class="tabs-item"><a href="newplayers1.html" class="tabs-off">第一部分</a></li>
                    <li class="tabs-item"><a href="newplayers2.html" class="tabs-off">第二部分</a></li>
                    <li class="tabs-item"><a href="newplayers3.html" class="tabs-on">第三部分</a></li>
                    <li class="tabs-item"><a href="newplayers4.html" class="tabs-off">第四部分</a></li>
                </ul>
            </div>

        </div>
        <div class="Divider"></div>

        <div class="neirong" id="thirdpart" style="display: block">

            <div class="largest">
                <div class="outimages">
                    <div class="outpics">
                        <ul class="pics">
                            <li class="pics-li">
                                <div class="opcon center-align">
                                    <div class="large-space"></div>
                                    <div class="small-space"></div>
                                    <span class="optit">交通方式</span>
                                    <div class="small-space"></div>
                                    <div class="op-con">升到十来级时，你就会发现任务开始把你带往全新的地区，如果了解了交通工具的运作状况，那可会为你省下不少的时间。</div>
                                    <div class="middle-space"></div>
                                    <div class="op-item">
                                        <div class="Avatar">
                                            <div class="Avatar-images" style="background: url('../../../public/images/game/pics-1.jpg')"></div>
                                        </div>
                                        <div class="tiny-space"></div>
                                        <div class="opitem-tit">使用地图</div>
                                        <div class="small-space"></div>
                                        <div class="op-con">如上文所说，地图在做任务时相当重要，不仅如此，在前往不同地点时地图也是一个好帮手。当你迷路了而且不知道怎么离开时，用“M”键打开地图就能查看你当前所在的地点。你还可以将地图窗口缩小，这样你就可以一边看着地图一边前进了，真方便！</div>
                                    </div>

                                </div>
                            </li>
                            <li class="pics-li">
                                <div class="opcon center-align">
                                    <div class="large-space"></div>
                                    <div class="small-space"></div>
                                    <span class="optit">交通方式</span>
                                    <div class="small-space"></div>
                                    <div class="op-con">升到十来级时，你就会发现任务开始把你带往全新的地区，如果了解了交通工具的运作状况，那可会为你省下不少的时间。</div>
                                    <div class="middle-space"></div>
                                    <div class="op-item">
                                        <div class="Avatar">
                                            <div class="Avatar-images" style="background: url('../../../public/images/game/pics-2.jpg')"></div>
                                        </div>
                                        <div class="tiny-space"></div>
                                        <div class="opitem-tit">炉石</div>
                                        <div class="small-space"></div>
                                        <div class="op-con">每个角色开始旅程时，物品栏里都会有一个炉石。使用炉石可以立即传送回你的家园，而你可以通过和不同地方的旅店老板进行交谈来改变家园的地点。如果你让旅店老板将当前地点设置为家园，下次你使用炉石时就会传送到这个新的家园。
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="pics-li">
                                <div class="opcon center-align">
                                    <div class="large-space"></div>
                                    <div class="small-space"></div>
                                    <span class="optit">交通方式</span>
                                    <div class="small-space"></div>
                                    <div class="op-con">
                                        升到十来级时，你就会发现任务开始把你带往全新的地区，如果了解了交通工具的运作状况，那可会为你省下不少的时间。</div>
                                    <div class="middle-space"></div>
                                    <div class="op-item">
                                        <div class="Avatar">
                                            <div class="Avatar-images" style="background: url('../../../public/images/game/pics-3.jpg')"></div>
                                        </div>
                                        <div class="tiny-space"></div>
                                        <div class="opitem-tit">飞行路线</div>
                                        <div class="small-space"></div>
                                        <div class="op-con">
                                            飞行向来就是最快捷的旅行方式，大多数定居点都在飞行路线覆盖的巨大网络之中。与飞行管理员交谈即可选择你的目的地，只需一小笔费用，他们就能带你前往你的目的地。
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="pics-li">
                                <div class="opcon center-align">
                                    <div class="large-space"></div>
                                    <div class="small-space"></div>
                                    <span class="optit">交通方式</span>
                                    <div class="small-space"></div>
                                    <div class="op-con">
                                        升到十来级时，你就会发现任务开始把你带往全新的地区，如果了解了交通工具的运作状况，那可会为你省下不少的时间。</div>
                                    <div class="middle-space"></div>
                                    <div class="op-item">
                                        <div class="Avatar">
                                            <div class="Avatar-images" style="background: url('../../../public/images/game/pics-4.jpg')"></div>
                                        </div>
                                        <div class="tiny-space"></div>
                                        <div class="opitem-tit">开船喽</div>
                                        <div class="small-space"></div>
                                        <div class="op-con">
                                            如果你想前往另一块大陆，坐船是一个很好的选择。联盟玩家可以通过各个港口的通行船只来往于卡利姆多、东部王国和诺森德的各个港口。
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="pics-li">
                                <div class="opcon center-align">
                                    <div class="large-space"></div>
                                    <div class="small-space"></div>
                                    <span class="optit">交通方式</span>
                                    <div class="small-space"></div>
                                    <div class="op-con">升到十来级时，你就会发现任务开始把你带往全新的地区，如果了解了交通工具的运作状况，那可会为你省下不少的时间。</div>
                                    <div class="middle-space"></div>
                                    <div class="op-item">
                                        <div class="Avatar">
                                            <div class="Avatar-images" style="background: url('../../../public/images/game/pics-5.jpg')"></div>
                                        </div>
                                        <div class="tiny-space"></div>
                                        <div class="opitem-tit">地精飞艇</div>
                                        <div class="small-space"></div>
                                        <div class="op-con">
                                            部落的地精飞艇作用和联盟的船只类似，它们将数个部落城市连接在一起。乘坐飞艇可以观看到比船只更加壮丽的风景，但要注意安全——如果你没带着降落伞，最好是等飞艇安全靠港之后再离开飞艇。
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="pics-li">
                                <div class="opcon center-align">
                                    <div class="large-space"></div>
                                    <div class="small-space"></div>
                                    <span class="optit">交通方式</span>
                                    <div class="small-space"></div>
                                    <div class="op-con">升到十来级时，你就会发现任务开始把你带往全新的地区，如果了解了交通工具的运作状况，那可会为你省下不少的时间。</div>
                                    <div class="middle-space"></div>
                                    <div class="op-item">
                                        <div class="Avatar">
                                            <div class="Avatar-images" style="background: url('../../../public/images/game/pics-6.jpg')"></div>
                                        </div>
                                        <div class="tiny-space"></div>
                                        <div class="opitem-tit">传送门</div>
                                        <div class="small-space"></div>
                                        <div class="op-con">
                                            传送门是当之无愧的最快速的移动方式。这些传送门由强大的奥术魔法支撑，撕裂时空来达到快速移动的目的，而且“相当”安全。法师和工程学大师可以学习如何开启前往几个特定地点的传送门，有一些城市也通过传送门相互连接。
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="lunzhuan-prev previcon"></div>
                    <div class="lunzhuan-next nexticon"></div>
                    <div class="lunzhuan-ctrl">
                        <ul class="ctrl-bar">
                            <li class="ctrl-bar-item"><a href="javascript:;" class="is-selected"></a></li>
                            <li class="ctrl-bar-item"><a href="javascript:;" class="not-selected"></a></li>
                            <li class="ctrl-bar-item"><a href="javascript:;" class="not-selected"></a></li>
                            <li class="ctrl-bar-item"><a href="javascript:;" class="not-selected"></a></li>
                            <li class="ctrl-bar-item"><a href="javascript:;" class="not-selected"></a></li>
                            <li class="ctrl-bar-item"><a href="javascript:;" class="not-selected"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="Divider"></div>
            <div class="small">
                <div class="con-img">
                    <div class="pinel-12"></div>
                </div>
                <div class="con-area">
                    <div class="center-align">
                        <div class="con-tit1">银行</div>
                        <div class="con-content">
                            <p>在旅行过程中你的背包会变得越来越满，而银行则是储存你冒险所得的最佳地点。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="small">
                <div class="con-img">
                    <div class="pinel-13"></div>
                </div>
                <div class="con-area">
                    <div class="center-align">
                        <div class="con-tit1">坐骑</div>
                        <div class="con-content">
                            <p>升到20级时你就可以寻找主城的训练师学习骑术。继续升级的过程中你也可以学到更高级的骑术，从而让你的坐骑跑得更快。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="small">
                <div class="con-img">
                    <div class="pinel-14"></div>
                </div>
                <div class="con-area">
                    <div class="center-align">
                        <div class="con-tit1">训练师</div>
                        <div class="con-content">
                            <p>学习专业技能可以带来更多乐趣，或者获得更多收益，在主城学习专业非常方便。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Divider"></div>
            <div class="large hero">
                <div class="pinel-15">
                    <div class="con-box">
                        <div class="left-align">
                            <div class="con-tit">共同游戏</div>
                            <div class="con-content">
                                <p>慢慢地你会发现一些带着“团队”标记的任务。就如其名字一样，这种任务的难度一般都比较高，需要多人协力才能完成，而奖励也将更加丰厚。就算你不是去挑战什么穷凶极恶的敌人，组队*做做普通任务也不是一个坏主意。</p><br />
                                <p>*牛头人和暗夜精灵的关系并不好，我们强烈建议不要和对立阵营的玩家一同进行任务。</p>
                                <div class="con-bottom"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="Divider"></div>
            <div class="large hero">
                <div class="pinel-16">
                    <div class="con-box">
                        <div class="right-align">
                            <div class="con-tit">组队</div>
                            <div class="con-content">
                                <p>如果当前区域有同阵营的玩家和你准备做一样的任务，你可以右键点击他的头像，选择“邀请”他们加入队伍。队伍最多可以由五名玩家组成，每个人都会共享任务的进度。</p>
                                <div class="con-bottom"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="Divider"></div>
            <div class="small">
                <div class="con-img">
                    <div class="pinel-17"></div>
                </div>
                <div class="con-area">
                    <div class="center-align">
                        <div class="con-tit1">商人</div>
                        <div class="con-content">
                            <p>每个城镇都有商人收购你不想要的物品。秃鹫胃囊？断裂的迅猛龙牙齿？都没问题。找到这些商人，把没用的东西全卖掉吧。保持物品栏的简洁才有空间拾取有价值的物品。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="small">
                <div class="con-img">
                    <div class="pinel-18"></div>
                </div>
                <div class="con-area">
                    <div class="center-align">
                        <div class="con-tit1">拍卖行</div>
                        <div class="con-content">
                            <p>你可以在主城找到拍卖行，然后购买或出售各种各样的物品。如果你想找一些专业技能物品或者装备的升级部件，拍卖行就是你的不二选择。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="small">
                <div class="con-img">
                    <div class="pinel-19"></div>
                </div>
                <div class="con-area">
                    <div class="center-align">
                        <div class="con-tit1">直接交易</div>
                        <div class="con-content">
                            <p>当然你也可以和其他玩家直接交易。只需要点击玩家角色，右键点击他们的头像，选择“交易”即可。这个操作会打开一个交易窗口，然后你们就可以交易金币、物品，或者两者同时进行。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Divider"></div>


            <div class="panic">
                <div class="con-box">
                    <div class="panic-con">
                        <div class="rukeng">
                            <a href="newplayers2.html" class="panic-a">
                                <div class=" btn-prev rukengbtn">
                                    <span>上一页：第二部分</span>
                                </div>
                            </a>

                            <a href="newplayers4.html" class="panic-a">
                                <div class=" btn-next rukengbtn">
                                    <span>下一页：第四部分</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="Divider"></div>
        <div class="guanzhu">
            <div class="guanzhu-con">
                <ul>
                    <li><span>关注魔兽</span></li>
                    <li><a href=""><span>微博</span></a></li>
                    <li><a href=""><span>腾讯</span></a></li>
                    <li><a href=""><span>微信</span></a></li>
                    <li><a href=""><span>优酷</span></a></li>
                </ul>
            </div>
        </div>


        <footer>
            <div class="footer">
                <div class="Cooperation_info">
                    <p class="customer">
                        <a href="https://www.battlenet.com.cn/support/zh/" target="_blank"><span class="customer_sp custom_sp_bg1"></span>在线客服</a>
                        <a href="http://www.battlenet.com.cn/zh/feedback" target="_blank"><span class="customer_sp custom_sp_bg2"></span>反馈</a>
                        <a href="http://wangzhiyi.zhiye.com/" target="_blank"><span class="customer_sp custom_sp_bg3"></span>加入我们</a>
                    </p>
                    <div class="brand">
                        <p>
                            <strong>合作伙伴：</strong>
                            <a href="http://www.intel.cn/content/www/cn/zh/homepage.html" target="_blank" class="brand_bg brand_inter"></a>
                            <a href="http://www.nvidia.cn/page/home.html" target="_blank" class="brand_bg brnad_naidia"></a>
                            <a href="mailto:business@battlenet.com.cn" target="_blank" class="brand_add">
                                <span class="brand_line_h"></span>
                                <span class="brand_line_s"></span>
                            </a>
                        </p>
                    </div>
                </div>
                <div class="f_logo">
                    <a href="" class="f_logo_bz"></a>
                    <a href="" class="f_logo_wy"></a>
                    <div class="f_info">
                        <ul class="info">
                            <li><a target="_blank" href="http://www.battlenet.com.cn/zh/legal-cn/privacy">隐私</a>|</li>
                            <li><a target="_blank" href="http://www.battlenet.com.cn/zh/legal-cn/">法律条款</a>|</li>
                            <li><a target="_blank" href="https://dev.battle.net/">API</a></li>
                        </ul>
                        <p>
                            ©2016 暴雪娱乐股份有限公司版权所有
                            <span>由上海网之易网络科技发展有限公司运营&nbsp;
                        <a href="http://www.battlenet.com.cn/legal-cn/infringementnotice" target="_blank">著作权侵权</a></span>
                            新出审字：[2014]1451号
                        </p>
                        <p>
                            文网进字[2014]0116号
                            <a href="http://blz.nos.netease.com/1/frame/cprt/license.jpg">沪网文[2014]0731-161号</a>
                            <a href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action">增值电信业务经营许可证编号：沪B2－20080012</a>
                        </p>
                        <p>互联网违法和不良信息举报电话：0571-28090163</p>
                        <p class="integ">
                            <a target="_blank" href="http://sh.cyberpolice.cn/infoCategoryListAction.do?act=initjpg"><img src="../../../public/images/police.png"></a>
                            <a target="_blank" href="http://www.zx110.org/"><img src="../../../public/images/zx110.png"></a>
                            <a target="_blank" href="http://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&entyId=20111011175417664"><img src="../../../public/images/sgs-icon.png"></a>
                            <a target="_blank" href="http://www.shjbzx.cn/"><img src="../../../public/images/icon20120516.png"></a>
                        </p>
                    </div>
                </div>
                <div class="tip">
                    <p>积极健康的游戏心态是健康游戏的开端，本游戏故事情节设置紧凑，请您合理控制游戏时间，避免沉溺游戏影响生活，注意自我保护，防范网络陷阱。 </p>
                    <p>健康游戏忠告：抵制不良游戏，拒绝盗版游戏。注意自我保护，谨防受骗上当。适度游戏益脑，沉迷游戏伤身。合理安排时间，享受健康生活。</p>
                </div>
            </div>
        </footer>

        <script>
            var tab=$(".tabs-item");
            tab.click(function () {
                tab.children().attr("class","tabs-off");
                $(this).children().attr("class","tabs-on");
            });
            var barCrtl=$(".ctrl-bar-item");
            barCrtl.click(function () {
                barCrtl.children().attr("class","not-selected");
                $(this).children().attr("class","is-selected");
            });
            var picli=$(".pics-li");
        </script>
    </div>
</body>
</html>