<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>重启旅程 -WoW-</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../../../public/images/favicon.ico" type="image/x-icon"/>
    <link href="../../../public/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../../public/css/oldplayers.css">
    <link href="../../../public/css/nav.css" rel="stylesheet">
    <link href="../../../public/css/footer.css" rel="stylesheet">

</head>
<body>
    <div class="page">
        <div class="header">
            <div class="top-boxer">

                <div class="menu" id="menu">

                    <div class="nav" id="nav">
                        <a href=""  class="menu-logo-a">
                            <div id="menu-logo" class="menu-logo"></div>
                        </a>
                        <div class="menu-search">
                            <input type="button" value="搜索内容" />
                        </div>
                        <ul class="leftnav">

                            <li class="menuli">
                                <a href="javascript:void(0);" class="menu-a" id="game">
                                    <span class="menu-span">游戏</span>
                                    <span class="zt glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                                </a>
                            </li>
                            <li class="menuli">
                                <a href="javascript:void(0);" class="menu-a" id="story">
                                    <span class="menu-span">故事背景</span>
                                    <span class="zt glyphicon glyphicon-chevron-down"></span></a>

                            </li>
                            <li class="menuli">
                                <a href="" class="menu-a"><span class="menu-span">新闻</span></a>
                            </li>
                            <li class="menuli">
                                <a href="" class="menu-a"><span class="menu-span">论坛</span></a>
                            </li>
                        </ul>
                        <ul class="rightnav row">
                            <li class="menuli">
                                <a href="" class="menu-a"><span class="menu-span">
                                <span class="\zt glyphicon glyphicon-search"></span></span></a></li>
                            <li class="menuli">
                                <a href="" class="menu-a">
                                    <span class="menu-span">登录</span>
                                </a>
                            </li>
                            <li class="menuli" id="register">
                                <a href="" class="menu-a">
                                    <span class="menu-span">注册</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="menu-tuozhan" id="tuozhan1" style="display: none;">
                        <div class="tuozhan-con">
                            <div class="tuozhanlan">
                                <div class="tuozhan-title">
                                    <span>游戏玩法</span>
                                </div>

                                <ul>
                                    <li><a href="">种族</a></li>
                                    <li><a href="">职业</a></li>
                                    <li><a href="">天赋模拟器</a></li>
                                    <li><a href="">服务器状态</a></li>
                                    <li><a href="">拍卖行</a></li>
                                </ul>
                            </div>
                            <div class="tuozhanlan">
                                <div class="tuozhan-title">
                                    <span>指南</span>
                                </div>
                                <ul>
                                    <li><a href="">新玩家：准备起步</a></li>
                                    <li><a href="">回归玩家：欢迎回归</a></li>

                                </ul>
                            </div>
                            <div class="tuozhanlan">
                                <div class="tuozhan-title">
                                    <span>竞技</span>
                                </div>
                                <div class="tuozhan">
                                    <ul>
                                        <li><a href="">史诗钥石排行榜</a></li>
                                        <li><a href="">PvP排行榜</a></li>
                                    </ul>
                                </div>

                            </div>
                            <div class="tuozhanlan">
                                <div class="tuozhan-title">
                                    <span>下载</span>
                                </div>
                                <ul>
                                    <li><a href="">下载《魔兽世界》</a></li>

                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="menu-tuozhan" id="tuozhan2" style="display: none;">
                        <div class="tuozhan-con">
                            <div class="tuozhanlan">
                                <div class="tuozhan-title">
                                    <span>魔兽世界知识</span>
                                </div>

                                <ul>
                                    <li><a href="">所有</a></li>
                                    <li><a href="">视频</a></li>
                                    <li><a href="">音频</a></li>
                                    <li><a href="">漫画</a></li>
                                    <li><a href="">小说</a></li>
                                    <li><a href="">短篇小说</a></li>
                                    <li><a href="">魔兽角色</a></li>
                                </ul>
                            </div>
                            <div class="tuozhanlan">
                                <div class="tuozhan-title">
                                    <span>魔兽里程碑</span>
                                </div>
                                <ul>
                                    <li><a href="">魔兽里程碑</a></li>


                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="header-tit">
                <h2>回归玩家指南</h2>
                <div class="xinshou">
                    很高兴你终于决定重新踏上史诗旅程！我们将竭力使你的回归旅途变得轻松而简单，让我们开始吧。
                </div>
                <div class="rukeng">
                    <a href="download.html" class="download">
                        <div class=" btn-next rukengbtn2">
                            <span>下载游戏</span>
                        </div>
                    </a>


                </div>
            </div>
        </div>
        
        
        <div class="tabs">
            <div class="tabs-container">
                <ul class="tabs-list">
                    <li class="tabs-item"><a href="oldplayers1.html" class="tabs-on">你的账号</a></li>
                    <li class="tabs-item"><a href="oldplayers2.html" class="tabs-off">游戏更新</a></li>
                    <li class="tabs-item"><a href="oldplayers3.html" class="tabs-off">你的角色</a></li>
                    <li class="tabs-item"><a href="oldplayers4.html" class="tabs-off">重启旅程</a></li>
                </ul>
            </div>

        </div>
        <div class="Divider"></div>
        <div class="neirong" id="firstpart" style="display: block">
            <div class="large welcome">
                <div class="pinel-1">
                    <div class="con-box">
                        <div class="left-align">
                            <div class="con-tit">账号状态</div>
                            <div class="con-content">
                                <p>如果你从2009年11月11日起就从未重返过艾泽拉斯世界，那么你需要将你的账号转换成一个战网通行证账号。在账号管理页面操作时，我们还建议你为账号绑定一个免费的战网安全令，以提升账号的安全性。</p>

                                    <p>如需了解更多安全相关信息，请访问我们的<a href="" class="con-link">账号支持页面</a>。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Divider"></div>
            <div class="large hero">
                <div class="pinel-2">
                    <div class="con-box">
                        <div class="right-align">
                            <div class="con-tit">一同游戏</div>
                            <div class="con-content">
                                <p>你现在可以通过战网昵称
                                    <a href="" class="con-link">战网昵称</a>
                                    或者
                                    <a href="" class="con-link">实名信息</a>
                                    添加好友，让你们在游玩所有暴雪游戏时都能保持联系！用招募战友将朋友带回魔兽世界，你们将共同获得一些特殊增益，譬如额外经验加成，免费游戏时间以及游戏史诗坐骑。你可以在游戏好友列表（快捷键“O”）中找到战友招募按钮，并用它来给你的好友发送邀请。</p>
                                <div class="con-bottom"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="Divider"></div>

            <div class="middle">
                <div class="con-img">
                    <div class="pinel-3"></div>
                </div>
                <div class="con-area">
                    <div class="center-align">
                        <div class="con-tit1">成就、坐骑与头衔</div>
                        <div class="con-content">
                            <p>你的大多数坐骑和头衔已经变为战网通行证账号下所有角色共享。成就系统（快捷键“Y”）也经过了更新。很多成就也已经变为账号下角色共享的成就，你可以在成就界面中查找到具有蓝色标题的角色共享成就。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="middle">
                <div class="con-img">
                    <div class="pinel-4"></div>
                </div>
                <div class="con-area">
                    <div class="center-align">
                        <div class="con-tit1">藏品系统</div>
                        <div class="con-content">
                            <p>现在几类物品（传家宝、宠物、玩具和坐骑）都已经归于同一账号下的所有角色共享，并在同一个界面中使用。只要打开藏品界面（快捷键“Shift+P”），选择下方的分页即可查看各个系列的物品收藏。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Divider"></div>
            <div class="panic">
                <div class="con-box">
                    <div class="panic-con">
                        <div class="rukeng">
                            <a href="newplayers2.html" class="panic-a">
                                <div class=" btn-next rukengbtn">
                                    <span>下一页：游戏更新 ></span>
                                </div>
                            </a>


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="Divider"></div>
        <div class="guanzhu">
            <div class="guanzhu-con">
                <ul>
                    <li><span>关注魔兽</span></li>
                    <li><a href=""><span>微博</span></a></li>
                    <li><a href=""><span>腾讯</span></a></li>
                    <li><a href=""><span>微信</span></a></li>
                    <li><a href=""><span>优酷</span></a></li>
                </ul>
            </div>
        </div>


        <footer>
            <div class="footer">
                <div class="Cooperation_info">
                    <p class="customer">
                        <a href="https://www.battlenet.com.cn/support/zh/" target="_blank"><span class="customer_sp custom_sp_bg1"></span>在线客服</a>
                        <a href="http://www.battlenet.com.cn/zh/feedback" target="_blank"><span class="customer_sp custom_sp_bg2"></span>反馈</a>
                        <a href="http://wangzhiyi.zhiye.com/" target="_blank"><span class="customer_sp custom_sp_bg3"></span>加入我们</a>
                    </p>
                    <div class="brand">
                        <p>
                            <strong>合作伙伴：</strong>
                            <a href="http://www.intel.cn/content/www/cn/zh/homepage.html" target="_blank" class="brand_bg brand_inter"></a>
                            <a href="http://www.nvidia.cn/page/home.html" target="_blank" class="brand_bg brnad_naidia"></a>
                            <a href="mailto:business@battlenet.com.cn" target="_blank" class="brand_add">
                                <span class="brand_line_h"></span>
                                <span class="brand_line_s"></span>
                            </a>
                        </p>
                    </div>
                </div>
                <div class="f_logo">
                    <a href="" class="f_logo_bz"></a>
                    <a href="" class="f_logo_wy"></a>
                    <div class="f_info">
                        <ul class="info">
                            <li><a target="_blank" href="http://www.battlenet.com.cn/zh/legal-cn/privacy">隐私</a>|</li>
                            <li><a target="_blank" href="http://www.battlenet.com.cn/zh/legal-cn/">法律条款</a>|</li>
                            <li><a target="_blank" href="https://dev.battle.net/">API</a></li>
                        </ul>
                        <p>
                            ©2016 暴雪娱乐股份有限公司版权所有
                            <span>由上海网之易网络科技发展有限公司运营&nbsp;
                        <a href="http://www.battlenet.com.cn/legal-cn/infringementnotice" target="_blank">著作权侵权</a></span>
                            新出审字：[2014]1451号
                        </p>
                        <p>
                            文网进字[2014]0116号
                            <a href="http://blz.nos.netease.com/1/frame/cprt/license.jpg">沪网文[2014]0731-161号</a>
                            <a href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action">增值电信业务经营许可证编号：沪B2－20080012</a>
                        </p>
                        <p>互联网违法和不良信息举报电话：0571-28090163</p>
                        <p class="integ">
                            <a target="_blank" href="http://sh.cyberpolice.cn/infoCategoryListAction.do?act=initjpg"><img src="../../../public/images/police.png"></a>
                            <a target="_blank" href="http://www.zx110.org/"><img src="../../../public/images/zx110.png"></a>
                            <a target="_blank" href="http://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&entyId=20111011175417664"><img src="../../../public/images/sgs-icon.png"></a>
                            <a target="_blank" href="http://www.shjbzx.cn/"><img src="../../../public/images/icon20120516.png"></a>
                        </p>
                    </div>
                </div>
                <div class="tip">
                    <p>积极健康的游戏心态是健康游戏的开端，本游戏故事情节设置紧凑，请您合理控制游戏时间，避免沉溺游戏影响生活，注意自我保护，防范网络陷阱。 </p>
                    <p>健康游戏忠告：抵制不良游戏，拒绝盗版游戏。注意自我保护，谨防受骗上当。适度游戏益脑，沉迷游戏伤身。合理安排时间，享受健康生活。</p>
                </div>
            </div>
        </footer>
        <script src="../../../public/js/jquery-2.0.3.js"></script>
        <script src="../../../public/js/nav.js"></script>
        <script>
            var tab=$(".tabs-item");
            //console.log(tab);
            //var index;
            tab.click(function () {
                tab.children().attr("class","tabs-off");
                $(this).children().attr("class","tabs-on");
//                $(".neirong").css("display","none");
//                $(".neirong").eq($(this).index()).css("display","block");
            }

            );

        </script>
    </div>
</body>
</html>