<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>游戏更新 - WoW</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../../../public/images/favicon.ico" type="image/x-icon"/>
    <link href="../../../public/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../../public/css/oldplayers.css" rel="stylesheet">
    <link href="../../../public/css/nav.css" rel="stylesheet">
    <link href="../../../public/css/footer.css" rel="stylesheet">

    <script src="../../../public/js/jquery-2.0.3.js"></script>

</head>
<body>
    <div class="page">
        <div class="header">
            <div class="top-boxer">

                <div class="menu" id="menu">

                    <div class="nav" id="nav">
                        <a href="/home"  class="menu-logo-a">
                            <div id="menu-logo" class="menu-logo"></div>
                        </a>
                        <div class="menu-search">
                            <input type="button" value="搜索内容" />
                        </div>
                        <ul class="leftnav">

                            <li class="menuli">
                                <a href="javascript:void(0);" class="menu-a" id="game">
                                    <span class="menu-span">游戏</span>
                                    <span class="zt glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                                </a>
                            </li>
                            <li class="menuli">
                                <a href="javascript:void(0);" class="menu-a" id="story">
                                    <span class="menu-span">故事背景</span>
                                    <span class="zt glyphicon glyphicon-chevron-down"></span></a>

                            </li>
                            <li class="menuli">
                                <a href="/news" class="menu-a"><span class="menu-span">新闻</span></a>
                            </li>
                            <li class="menuli">
                                <a href="/forum" class="menu-a"><span class="menu-span">论坛</span></a>
                            </li>
                        </ul>
                        <ul class="rightnav">
                            <li class="menuli">
                                <a href="" class="menu-a"><span class="menu-span">
                                <span class="\zt glyphicon glyphicon-search"></span></span></a>
                            </li>
                            {% if userInfo._id %}
                            <li class="menuli logined" id="adLogHome" style="display: block">
                                <a href="" class="menu-a">
                                    <span class="menu-span">{{userInfo.uname}}</span>
                                </a>
                            </li>

                            {%else%}
                            <li class="menuli home_no" style="display: block">
                                <a href="/user/login" class="menu-a">
                                    <span class="menu-span">登录</span>
                                </a>
                            </li>
                            <li class="menuli home_no" id="register" style="display: block">
                                <a href="/user/register" class="menu-a">
                                    <span class="menu-span">注册</span>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="menu-tuozhan" id="tuozhan1" style="display: none;">
                        <div class="tuozhan-con">
                            <div class="tuozhanlan">
                                <div class="tuozhan-title">
                                    <span>游戏玩法</span>
                                </div>

                                <ul>
                                    <li><a href="/gameraces">种族</a></li>
                                    <li><a href="/gameclass">职业</a></li>
                                    <li><a href="">天赋模拟器</a></li>
                                    <li><a href="">服务器状态</a></li>
                                    <li><a href="">拍卖行</a></li>
                                </ul>
                            </div>
                            <div class="tuozhanlan">
                                <div class="tuozhan-title">
                                    <span>指南</span>
                                </div>
                                <ul>
                                    <li><a href="/newplayers1">新玩家：准备起步</a></li>
                                    <li><a href="/oldplayers1">回归玩家：欢迎回归</a></li>

                                </ul>
                            </div>

                            <div class="tuozhanlan">
                                <div class="tuozhan-title">
                                    <span>下载</span>
                                </div>
                                <ul>
                                    <li><a href="/download">下载《魔兽世界》</a></li>

                                </ul>
                            </div>
                            {% if userInfo._id %}

                            <div class="tuozhanlan">
                                <div class="tuozhan-title">
                                    <span>控制</span>
                                </div>
                                <div class="tuozhan">
                                    <ul>
                                        {% if userInfo.isadmin %}
                                        <li><a href="/admin">后台</a></li>
                                        {% endif %}
                                        <li><a id="tuichu" href="">退出</a></li>
                                        <script>
                                            $("#tuichu").on("click",function () {
                                                $.get("/api/outlog",function (data) {
                                                    if(data=="1"){
                                                        location.href="/home";
                                                        alert("退出成功");
                                                    }
                                                    console.log("aaaaaaa")
                                                })
                                            })
                                        </script>
                                    </ul>
                                </div>

                            </div>
                            {% endif %}
                        </div>

                    </div>
                    <div class="menu-tuozhan" id="tuozhan2" style="display: none;">
                        <div class="tuozhan-con">
                            <div class="tuozhanlan">
                                <div class="tuozhan-title">
                                    <span>魔兽世界知识</span>
                                </div>

                                <ul>
                                    <li><a href="">所有</a></li>
                                    <li><a href="">视频</a></li>
                                    <li><a href="">音频</a></li>
                                    <li><a href="">漫画</a></li>
                                    <li><a href="">小说</a></li>
                                    <li><a href="">短篇小说</a></li>
                                    <li><a href="">魔兽角色</a></li>
                                </ul>
                            </div>
                            <div class="tuozhanlan">
                                <div class="tuozhan-title">
                                    <span>魔兽里程碑</span>
                                </div>
                                <ul>
                                    <li><a href="">魔兽里程碑</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="header-tit">
                <h2>回归玩家指南</h2>
                <div class="xinshou">
                    很高兴你终于决定重新踏上史诗旅程！我们将竭力使你的回归旅途变得轻松而简单，让我们开始吧。
                </div>
                <div class="rukeng">
                    <a href="/download" class="download">
                        <div class=" btn-next rukengbtn2">
                            <span>下载游戏</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>


        <div class="tabs">
            <div class="tabs-container">
                <ul class="tabs-list">
                    <li class="tabs-item"><a href="/oldplayers1" class="tabs-off">你的账号</a></li>
                    <li class="tabs-item"><a href="/oldplayers2" class="tabs-on">游戏更新</a></li>
                    <li class="tabs-item"><a href="/oldplayers3" class="tabs-off">你的角色</a></li>
                    <li class="tabs-item"><a href="/oldplayers4" class="tabs-off">重启旅程</a></li>
                </ul>
            </div>

        </div>
        <div class="Divider"></div>

        <div class="neirong" id="secondpart" style="display: block">
            <div class="large ctrl">
                <div class="pinel-5">
                    <div class="con-box">
                        <div class="left-align">
                            <div class="con-tit">角色直升</div>
                            <div class="con-content">
                                <p>角色直升服务可以立即将一名角色升级至可以体验最新资料片内容的等级。使用角色直升服务后，对应角色将收到一套全新的高级装备，让你立即开始体验新内容，而旧装备将会通过邮件的方式发回给你
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Divider"></div>
            <div class="middle">
                <div class="con-img">
                    <div class="pinel-6"></div>
                </div>
                <div class="con-area">
                    <div class="center-align">
                        <div class="con-tit1">全新地图</div>
                        <div class="con-content1">
                            <p>随着各部资料片的更新，艾泽拉斯世界也开放了不少新的地图。你可以直接体验最新内容而忽略一些先前开放的地图，但如果你对魔兽世界的故事比较感兴趣，我们还是建议你多去这些地图体验一下精彩的剧情。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="middle">
                <div class="con-img">
                    <div class="pinel-7"></div>
                </div>
                <div class="con-area">
                    <div class="center-align">
                        <div class="con-tit1">组队更新</div>
                        <div class="con-content1">
                            <p>在低等级地区做任务时，你可能会遇到来自不同服务器的玩家。新系统能让来自不同服务器的玩家在一起共同冒险，邀请组队，完成任务或是一同挑战地下城。但交易物品和金币时，因为你们仍是属于不同服务器，所以会受到一些特定规则的限制。
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="large ">
                <div class="pinel-6">
                    <div class="con-box">
                        <div class="right-align">
                            <div class="con-tit">游戏活动</div>
                            <div class="con-content">
                                <p>用左键点击迷你地图右上角即可查看日历，就能看到每次的假日活动内容。活动包括了时空漫游地下城以及战场奖励活动等等，参与这些活动即可获得丰厚的奖励。这些活动每周都会举行，所以记得要经常查看。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="Divider"></div>
            <div class="middle">
                <div class="con-img">
                    <div class="pinel-9"></div>
                </div>
                <div class="con-area">
                    <div class="center-align">
                        <div class="con-tit1">PVP</div>
                        <div class="con-content1">
                            <p>不再需要创建竞技场队伍，想要参加竞技场比赛，你只需叫上好友组成规定人数的队伍并使用PvP界面进行排队即可。你可以通过赢得战场、竞技场胜利或者完成每周任务来获取高级PvP装备。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="middle">
                <div class="con-img">
                    <div class="pinel-10"></div>
                </div>
                <div class="con-area">
                    <div class="center-align">
                        <div class="con-tit1">威望和荣誉等级</div>
                        <div class="con-content1">
                            <p>满级玩家参加PvP战斗现在可以获得荣誉等级。荣誉等级可以用来选择仅能在PvP战斗中生效的天赋，荣誉等级升满后，你还可以重置荣誉等级的进度以换取威望等级。威望等级可以用来解锁独特外观奖励。
                            </p>
                        </div>
                    </div>
                </div>
            </div>




            <div class="panic">
                <div class="con-box">
                    <div class="panic-con">
                        <div class="rukeng">
                            <a href="/oldplayers1" class="panic-a">
                                <div class=" btn-prev rukengbtn">
                                    <span>上一页：你的账号</span>
                                </div>
                            </a>

                            <a href="/oldplayers3" class="panic-a">
                                <div class=" btn-next rukengbtn">
                                    <span>下一页：你的角色</span>
                                </div>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="Divider"></div>
        <div class="guanzhu">
            <div class="guanzhu-con">
                <ul>
                    <li><span>关注魔兽</span></li>
                    <li><a href=""><span id="wb"></span></a></li>
                    <li><a href=""><span id="qq"></span></a></li>
                    <li><a href=""><span id="wx"></span></a></li>
                    <li><a href=""><span id="yk"></span></a></li>
                </ul>
            </div>
        </div>


        <footer>
            <div class="footer">
                <div class="Cooperation_info">
                    <p class="customer">
                        <a href="https://www.battlenet.com.cn/support/zh/" target="_blank"><span class="customer_sp custom_sp_bg1"></span>在线客服</a>
                        <a href="http://www.battlenet.com.cn/zh/feedback" target="_blank"><span class="customer_sp custom_sp_bg2"></span>反馈</a>
                        <a href="http://wangzhiyi.zhiye.com/" target="_blank"><span class="customer_sp custom_sp_bg3"></span>加入我们</a>
                    </p>
                    <div class="brand">
                        <p>
                            <strong>合作伙伴：</strong>
                            <a href="http://www.intel.cn/content/www/cn/zh/homepage.html" target="_blank" class="brand_bg brand_inter"></a>
                            <a href="http://www.nvidia.cn/page/home.html" target="_blank" class="brand_bg brnad_naidia"></a>
                            <a href="mailto:business@battlenet.com.cn" target="_blank" class="brand_add">
                                <span class="brand_line_h"></span>
                                <span class="brand_line_s"></span>
                            </a>
                        </p>
                    </div>
                </div>
                <div class="f_logo">
                    <a href="" class="f_logo_bz"></a>
                    <a href="" class="f_logo_wy"></a>
                    <div class="f_info">
                        <ul class="info">
                            <li><a target="_blank" href="http://www.battlenet.com.cn/zh/legal-cn/privacy">隐私</a>|</li>
                            <li><a target="_blank" href="http://www.battlenet.com.cn/zh/legal-cn/">法律条款</a>|</li>
                            <li><a target="_blank" href="https://dev.battle.net/">API</a></li>
                        </ul>
                        <p>
                            ©2016 暴雪娱乐股份有限公司版权所有
                            <span>由上海网之易网络科技发展有限公司运营&nbsp;
                        <a href="http://www.battlenet.com.cn/legal-cn/infringementnotice" target="_blank">著作权侵权</a></span>
                            新出审字：[2014]1451号
                        </p>
                        <p>
                            文网进字[2014]0116号
                            <a href="http://blz.nos.netease.com/1/frame/cprt/license.jpg">沪网文[2014]0731-161号</a>
                            <a href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action">增值电信业务经营许可证编号：沪B2－20080012</a>
                        </p>
                        <p>互联网违法和不良信息举报电话：0571-28090163</p>
                        <p class="integ">
                            <a target="_blank" href="http://sh.cyberpolice.cn/infoCategoryListAction.do?act=initjpg"><img src="../../../public/images/police.png"></a>
                            <a target="_blank" href="http://www.zx110.org/"><img src="../../../public/images/zx110.png"></a>
                            <a target="_blank" href="http://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&entyId=20111011175417664"><img src="../../../public/images/sgs-icon.png"></a>
                            <a target="_blank" href="http://www.shjbzx.cn/"><img src="../../../public/images/icon20120516.png"></a>
                        </p>
                    </div>
                </div>
                <div class="tip">
                    <p>积极健康的游戏心态是健康游戏的开端，本游戏故事情节设置紧凑，请您合理控制游戏时间，避免沉溺游戏影响生活，注意自我保护，防范网络陷阱。 </p>
                    <p>健康游戏忠告：抵制不良游戏，拒绝盗版游戏。注意自我保护，谨防受骗上当。适度游戏益脑，沉迷游戏伤身。合理安排时间，享受健康生活。</p>
                </div>
            </div>
        </footer>
        <script src="../../../public/js/nav.js"></script>
        <script>
            var tab=$(".tabs-item");
            //console.log(tab);
            //var index;
            tab.click(function () {
                    tab.children().attr("class","tabs-off");
                    $(this).children().attr("class","tabs-on");
//                $(".neirong").css("display","none");
//                $(".neirong").eq($(this).index()).css("display","block");
                }

            );

        </script>
    </div>
</body>
</html>