{% extends "demo.html" %}

{% block main %}
<div class="breadmenu">
    <ol class="breadcrumb" style="background:#303641; ">
        <li><a href="/admin">管理界面</a></li>
        <li><a href="javascript:void (0)">游戏玩法</a></li>
        <li><span>游戏种族</span></li>
    </ol>
</div>


<div style="padding:10px 40px">
    <h3>游戏种族列表</h3>

    <table class="table table-hover table-striped ">
        <tr>
            <th class="text-center" style="width: 50px; vertical-align: middle !important;">ID</th>
            <th class="text-center" style="width: 150px; vertical-align: middle !important;">
                <div class="btn-group">
                    <button type="button" class="btn dropdown-toggle" style="background: transparent; " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        游戏阵营 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/gameclass/lianmeng">联盟</a></li>
                        <li><a href="/admin/gameclass/buluo">部落</a></li>
                    </ul>
                </div>

            </th>
            <th class="text-center" style="width: 100px; vertical-align: middle !important;">游戏种族</th>
            <th class="text-center" style="vertical-align: middle !important;">种族简介</th>
            <th class="text-center" style="width: 150px; vertical-align: middle !important;">种族图片</th>
            <th class="text-center" style="width: 50px; vertical-align: middle !important;">操作</th>
        </tr>

        {% for gclass in allClass%}
        <tr>
            <td class="text-center" style="height: 100px; line-height: 100px;">{{gclass.gid}}</td>
            <td class="text-center" style="height: 100px; line-height: 100px;">{{gclass.gcamp}}</td>
            <td class="text-center" style="height: 100px; line-height: 100px;">{{gclass.gclass}}</td>
            <td class="text-center" style="height: 100px; padding-top: 49px;">{{gclass.gintro}}</td>
            <td class="text-center" style="height: 100px; line-height: 100px;"><img src="../../routers/{{gclass.gpic}}" style="width: 100px;height: 100px;" alt=""></td>
            <td class="text-center" style="height: 100px; line-height: 100px;"><a href="/admin/gameclass/delete?id={{gclass.gid.toString()}}">删除</a></td>
        </tr>
        {%endfor%}
    </table>
    {% include "page.html" %}
</div>


{% endblock %}
