{% extends "demo.html" %}

{% block main %}
<div class="breadmenu">
    <ol class="breadcrumb" style="background:#303641; ">
        <li><a href="/admin">管理界面</a></li>
        <li><a href="javascript:void (0)">游戏玩法</a></li>
        <li><span>游戏种族</span></li>
    </ol>
</div>


<div style="padding:10px 40px">
    <h3>游戏种族列表</h3>
    <table class="table table-hover table-striped ">
        <tr>
            <td class="text-center">ID</td>
            <td class="text-center">游戏阵营</td>
            <td class="text-center">游戏种族</td>
            <td class="text-center">游戏种族介绍</td>
            <td class="text-center">操作</td>
        </tr>

        {% for class in allClass%}
        <tr>
            <td class="text-center">{{class.gid}}</td>
            <td class="text-center">{{class.gcamp}}</td>
            <td class="text-center">{{class.gclass}}</td>
            <td class="text-center">{{class.gintro}}</td>
            <td>
                <a href="">删除</a>
            </td>
        </tr>
        {%endfor%}
    </table>
    {% include "page.html" %}
</div>

{% endblock %}


