<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>购卡充值引导</title>
    <link rel="shortcut icon" href="../../public/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../../public/css/gamepoints.css">
    <script src="../../public/js/jquery-2.0.3.js"></script>
</head>
<body>
    <header>
        <div class="text">
            <div class="logo">
                <a href="/"></a>
            </div>
            购卡充值引导
        </div>
    </header>
    <nav>
        <ul>
            <li><a  href="gamepoints.html">战网在线支付</a></li>
            <li><a href="https://blz.tmall.com/" target="_blank">天猫官方旗舰店</a></li>
            <li><a href="#">实体卡购买查询</a></li>
            <li><a href="http://rd.da.netease.com/redirect?t=rTpl7qjNzE&p=qmd5rQ&proId=1024&target=http%3A%2F%2Fwww.kaola.com%2Factivity%2Fdetail%2F11835.shtml%3Fzn%3Dtop%26tag%3Dda64ec054a5f5b1029d2f96638f25c8f
" target="_blank">暴雪考拉旗舰店</a></li>
            <li><a class="active" href="/">手机卡充值购买点卡</a></li>
        </ul>
    </nav>
    <div class="content">
        <div class="cell_recharge_con">
            <p class="con_title">手机充值卡购卡</p>
            <p class="con_title_con">
                重要提示 — 免责条款<br>
                此支付方式为网易合作伙伴提供，非网易官方支付方式。<br>
                若用户使用时发生任何问题，请首先拨打合作伙伴的客服电话，详情见以下页面内容。
            </p>
            <table rules="all">
                <thead>
                    <tr>
                        <th class="br_top br_left" >游戏名称</th>
                        <th class="br_top">点卡面值</th>
                        <th class="br_top">建议零售价</th>
                        <th class="last_br_right br_top">游戏时间</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="2" width="155" class="recharge_tbody_Tit br_bottom br_left">魔兽世界</td>
                        <td width="445">75战网点数</td>
                        <td width="300">75元</td>
                        <td class="last_br_right">30天游戏时间</td>
                    </tr>
                    <tr>
                        <td class="br_bottom" width="445">198战网点数</td>
                        <td class="br_bottom" width="300">198元</td>
                        <td class="last_br_right br_bottom">90天游戏时间</td>
                    </tr>
                </tbody>
            </table>
            <div class="pay-process">
                <p class="pay-process_tit">手机充值卡购买战网一卡通的流程</p>
                <div class="pay-process_con">
                    <p>请选择您要购买的点卡面值和数量
                        <span class="process_point"></span>
                    </p>
                    <p>填写收货所需的个人信息
                        <span class="process_point"></span>
                    </p>
                    <p>选择合适面值的手机充值卡，输入卡号及密码，确认后请耐心等待系统处理
                        <span class="process_point"></span>
                    </p>
                    <p>支付成功，选择返回商家页面提取卡密，同时也会收到包含卡密详细信息的邮件
                        <span class="process_point"></span>
                    </p>
                    <p>登录战网，对游戏账号进行充值</p>
                </div>
            </div>
            <div class="pay_service">
                <p class="pay_service_tit">购卡服务供应商</p>
                <div class="pay_service_div">
                    <a href="">
                        <span class="sev_shenzhouxing"></span>
                    </a>
                    <a href="">
                        <span class="sev_pay"></span>
                    </a>
                </div>
            </div>
        </div>




    </div>
    <footer>
        <div class="footer">
            <div class="Cooperation_info">
                <p class="customer">
                    <a href="https://www.battlenet.com.cn/support/zh/" target="_blank"><span class="customer_sp custom_sp_bg1"></span>在线客服</a>
                    <a href="http://www.battlenet.com.cn/zh/feedback" target="_blank"><span class="customer_sp custom_sp_bg2"></span>反馈</a>
                    <a href="http://wangzhiyi.zhiye.com/" target="_blank"><span class="customer_sp custom_sp_bg3"></span>加入我们</a>
                </p>
                <div class="brand">
                    <p>
                        <strong>合作伙伴：</strong>
                        <a href="http://www.intel.cn/content/www/cn/zh/homepage.html" target="_blank" class="brand_bg brand_inter"></a>
                        <a href="http://www.nvidia.cn/page/home.html" target="_blank" class="brand_bg brnad_naidia"></a>
                        <a href="mailto:business@battlenet.com.cn" target="_blank" class="brand_add">
                            <span class="brand_line_h"></span>
                            <span class="brand_line_s"></span>
                        </a>
                    </p>
                </div>
            </div>
            <div class="f_logo">
                <a href="" class="f_logo_bz"></a>
                <a href="" class="f_logo_wy"></a>
                <div class="f_info">
                    <ul class="info">
                        <li><a target="_blank" href="http://www.battlenet.com.cn/zh/legal-cn/privacy">隐私</a>|</li>
                        <li><a target="_blank" href="http://www.battlenet.com.cn/zh/legal-cn/">法律条款</a>|</li>
                        <li><a target="_blank" href="https://dev.battle.net/">API</a></li>
                    </ul>
                    <p>
                        ©2016 暴雪娱乐股份有限公司版权所有
                        <span>由上海网之易网络科技发展有限公司运营&nbsp;
                        <a href="http://www.battlenet.com.cn/legal-cn/infringementnotice" target="_blank">著作权侵权</a></span>
                        新出审字：[2014]1451号
                    </p>
                    <p>
                        文网进字[2014]0116号
                        <a href="http://blz.nos.netease.com/1/frame/cprt/license.jpg">沪网文[2014]0731-161号</a>
                        <a href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action">增值电信业务经营许可证编号：沪B2－20080012</a>
                    </p>
                    <p>互联网违法和不良信息举报电话：0571-28090163</p>
                    <p class="integ">
                        <a target="_blank" href="http://sh.cyberpolice.cn/infoCategoryListAction.do?act=initjpg"><img src="../../public/images/police.png"></a>
                        <a target="_blank" href="http://www.zx110.org/"><img src="../../public/images/zx110.png"></a>
                        <a target="_blank" href="http://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&entyId=20111011175417664"><img src="../../public/images/sgs-icon.png"></a>
                        <a target="_blank" href="http://www.shjbzx.cn/"><img src="../../public/images/icon20120516.png"></a>
                    </p>
                </div>
            </div>
            <div class="tip">
                <p>积极健康的游戏心态是健康游戏的开端，本游戏故事情节设置紧凑，请您合理控制游戏时间，避免沉溺游戏影响生活，注意自我保护，防范网络陷阱。 </p>
                <p>健康游戏忠告：抵制不良游戏，拒绝盗版游戏。注意自我保护，谨防受骗上当。适度游戏益脑，沉迷游戏伤身。合理安排时间，享受健康生活。</p>
            </div>
        </div>
    </footer>
</body>
</html>