<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>魔兽世界</title>
    <link rel="shortcut icon" href="../../public/images/favicon.ico" type="image/x-icon"/>
    <!-- Bootstrap -->

    <link href="../../public/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../public/css/home.css" rel="stylesheet" />
    <link href="../../public/css/nav.css" rel="stylesheet" />

</head>
<body>

<div id="page-home-header" class="page-home-header container-fluid">
    <div id="video-bg container-fluid">
        <video class="video-bg" loop="loop" muted="muted" src="../../public/video/home-bg.mp4" autoplay="autoplay"
               style="width: 1920px;"></video>
    </div>


    <!--header-->
    <div class="header container-fluid">
        <!--nav-->
        <div class="top-boxer container-fluid">

            <div class="menu" id="menu">

                <div class="nav" id="nav">
                    <a href=""  class="menu-logo-a">
                        <div id="menu-logo" class="menu-logo"></div>
                    </a>
                    <div class="menu-search">
                        <input type="button" value="搜索内容" />
                    </div>
                    <ul class="leftnav">

                        <li class="menuli">
                            <a href="javascript:void(0);" class="menu-a" id="game">
                                <span class="menu-span">游戏</span>
                                <span class="zt glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li class="menuli">
                            <a href="javascript:void(0);" class="menu-a" id="story">
                                <span class="menu-span">故事背景</span>
                                <span class="zt glyphicon glyphicon-chevron-down"></span></a>

                        </li>
                        <li class="menuli">
                            <a href="" class="menu-a"><span class="menu-span">新闻</span></a>
                        </li>
                        <li class="menuli">
                            <a href="" class="menu-a"><span class="menu-span">论坛</span></a>
                        </li>
                    </ul>
                    <ul class="rightnav row">
                        <li class="menuli">
                            <a href="" class="menu-a"><span class="menu-span">
                                <span class="\zt glyphicon glyphicon-search"></span></span></a></li>
                        <li class="menuli">
                            <a href="login.html" class="menu-a">
                                <span class="menu-span">登录</span>
                            </a>
                        </li>
                        <li class="menuli" id="register">
                            <a href="" class="menu-a">
                                <span class="menu-span">注册</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="menu-tuozhan" id="tuozhan1" style="display: none;">
                    <div class="tuozhan-con">
                        <div class="tuozhanlan">
                            <div class="tuozhan-title">
                                <span>游戏玩法</span>
                            </div>

                            <ul>
                                <li><a href="">种族</a></li>
                                <li><a href="">职业</a></li>
                                <li><a href="">天赋模拟器</a></li>
                                <li><a href="">服务器状态</a></li>
                                <li><a href="">拍卖行</a></li>
                            </ul>
                        </div>
                        <div class="tuozhanlan">
                            <div class="tuozhan-title">
                                <span>指南</span>
                            </div>
                            <ul>
                                <li><a href="">新玩家：准备起步</a></li>
                                <li><a href="">回归玩家：欢迎回归</a></li>

                            </ul>
                        </div>
                        <div class="tuozhanlan">
                            <div class="tuozhan-title">
                                <span>竞技</span>
                            </div>
                            <div class="tuozhan">
                                <ul>
                                    <li><a href="">史诗钥石排行榜</a></li>
                                    <li><a href="">PvP排行榜</a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="tuozhanlan">
                            <div class="tuozhan-title">
                                <span>下载</span>
                            </div>
                            <ul>
                                <li><a href="">下载《魔兽世界》</a></li>

                            </ul>
                        </div>
                    </div>

                </div>
                <div class="menu-tuozhan" id="tuozhan2" style="display: none;">
                    <div class="tuozhan-con">
                        <div class="tuozhanlan">
                            <div class="tuozhan-title">
                                <span>魔兽世界知识</span>
                            </div>

                            <ul>
                                <li><a href="">所有</a></li>
                                <li><a href="">视频</a></li>
                                <li><a href="">音频</a></li>
                                <li><a href="">漫画</a></li>
                                <li><a href="">小说</a></li>
                                <li><a href="">短篇小说</a></li>
                                <li><a href="">魔兽角色</a></li>
                            </ul>
                        </div>
                        <div class="tuozhanlan">
                            <div class="tuozhan-title">
                                <span>魔兽里程碑</span>
                            </div>
                            <ul>
                                <li><a href="">魔兽里程碑</a></li>


                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <!--title-->
        <div class="space-large container"></div>
        <div class="align-left container" style="padding-top: 150px">
            <h1>暗夜要塞的战斗正式打响！</h1>
            <p>联军终于突破了古尔丹的防线！攻入暗夜要塞，对抗十名强大的首领，解放苏拉玛！</p>
            <div class="ruKeng">
                <a class="rukengbtn" href=""><span>了解更多</span></a>
                <a class="rukengbtn rukengbtn2" href=""><span>立即充值</span></a>
            </div>
        </div>
        <div class="space-large container"></div>


        <!--news-->
        <div id="news" class="container">
            <div class="news-title">
                <p>新闻及更新</p>
                <a href=""><span>查看更多新闻</span></a>
            </div>
            <div class="news-con row">
                <div class="news-con-area col-lg-4 col-md-4 col-sm-2 col-xs-1">
                    <a class="news-con-content">
                        <div class="news-con-pic"><img src="../../public/images/home/news-1.jpg"/></div>
                        <div class="news-con-title">
                            <div class="news-date">March 14th, 2017</div>
                            <div class="news-con-left">
                                <span>《魔兽世界》随身集合石APP正式上线</span></div>
                            <div class="news-con-right">
                                <span class="glyphicon glyphicon-comment"></span>
                                <span>0</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="news-con-area col-lg-4 col-md-4 col-sm-2 col-xs-1">
                    <a class="news-con-content">
                        <div class="news-con-pic"><img src="../../public/images/home/news-2.jpg"/></div>
                        <div class="news-con-title">
                            <div class="news-date">March 12th, 2017</div>
                            <div class="news-con-left">
                                <span>2017暴雪嘉年华之路：火热升级！</span></div>
                            <div class="news-con-right">
                                <span class="glyphicon glyphicon-comment"></span>
                                <span>0</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="news-con-area col-lg-4 col-md-4 col-sm-2 col-xs-1">
                    <a class="news-con-content">
                        <div class="news-con-pic"><img src="../../public/images/home/news-3.jpg"/></div>
                        <div class="news-con-title">
                            <div class="news-date">March 10th, 2017</div>
                            <div class="news-con-left">
                                <span>地下城预览：永夜大教堂</span></div>
                            <div class="news-con-right">
                                <span class="glyphicon glyphicon-comment"></span>
                                <span>0</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="news-con-area col-lg-4 col-md-4 col-sm-2 col-xs-1">
                    <a class="news-con-content">
                        <div class="news-con-pic"><img src="../../public/images/home/news-4.jpg"/></div>
                        <div class="news-con-title">
                            <div class="news-date">March 2nd, 2017</div>
                            <div class="news-con-left">
                                <span>假日活动：世界任务</span></div>
                            <div class="news-con-right">
                                <span class="glyphicon glyphicon-comment"></span>
                                <span>0</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<!--con-->
<div class="page-home-con container-fluid">
    <div class="home-little">
        <a href="" class="little-con">
            <div class="little-pic little-pic-a">

            </div>

            <div class="little-title">
                <div class="little-title-con">
                    <div class="abstract">《魔兽世界》是什么?</div>
                    <span>新玩家入门</span>
                </div>
            </div>
        </a>

    </div>
    <div class="home-little">
        <a href="" class="little-con">
            <div class="little-pic little-pic-b">

            </div>

            <div class="little-title">
                <div class="little-title-con">
                    <div class="abstract">艾泽拉斯需要你</div>
                    <span>老玩家回归</span>
                </div>
            </div>
        </a>

    </div>
    <div class="home-large container-fluid">
        <div class="large-bg large-carbon">
            <div class="large-con container">
                <div class="large-right">
                    <div class="large-title">暗夜要塞团队副本现已开放</div>
                    <div class="Content-con">帮助苏拉玛的人民夺回这座璀璨之城的过程中，艾泽拉斯的英雄们经历了重重的阴谋和危险。是时候迈出下一步，迎接暗夜要塞里的挑战了。</div>
                    <div class="ruKeng">
                        <a class="rukengbtn" href=""><span>了解更多</span></a>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="home-large container-fluid">
        <div class="large-bg large-version">
            <div class="large-con container">
                <div class="large-right">
                    <div class="large-title">7.1.5版本生存指南</div>
                    <div class="Content-con">你可以在这里了解到7.1.5版本中新增的时空漫游、多元化的小节日、重新开业的搏击俱乐部等一系列精彩内容。</div>
                    <div class="ruKeng">
                        <a class="rukengbtn" href=""><span>了解更多</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home-little">
        <a href="" class="little-con">
            <div class="little-pic little-pic-c">

            </div>

            <div class="little-title">
                <div class="little-title-con">
                    <div class="abstract">7.15版本</div>
                    <span>版本说明</span>
                </div>
            </div>
        </a>

    </div>
    <div class="home-little">
        <a href="" class="little-con">
            <div class="little-pic little-pic-d">

            </div>

            <div class="little-title">
                <div class="little-title-con">
                    <div class="abstract">游戏更新</div>
                    <span>7.15版本在线修正</span>
                </div>
            </div>
        </a>
    </div>
    <div class="home-large container-fluid">
        <div class="large-bg large-assistant">
            <div class="large-con container">
                <div class="large-left">
                    <div class="large-title">《军团再临》随身助手</div>
                    <div class="Content-con">《军团再临》随身助手是一款免费的移动端应用，随时随地让你加入《魔兽世界：军团再临》的冒险之旅。</div>
                    <div class="ruKeng">
                        <a class="rukengbtn" href=""><span>了解更多</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home-large container-fluid">
        <div class="large-bg large-data">
            <div class="large-video">
                <video id="video-large" loop="loop" muted="muted" src="../../public/video/large-4.mp4"
                       autoplay="autoplay" style="height: 750px;"></video>
            </div>
            <div class="large-con container">
                <div class="large-left">
                    <div class="large-title">购买数字典藏礼包</div>
                    <div class="Content-con">购买魔兽世界：军团再临数字典藏礼包，即可获得坐骑、宠物等史诗游戏奖励！加入破碎群岛的战役，阻止燃烧军团吧</div>
                    <div class="ruKeng">
                        <a class="rukengbtn" href=""><span>了解更多</span></a><a class="rukengbtn rukengbtn2" href=""><span>立即充值</span></a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<div class="divider"></div>
<div class="guanzhu">
    <div class="guanzhu-con">
        <ul>
            <li><span>关注魔兽</span></li>
            <li><a href=""><span>微博</span></a></li>
            <li><a href=""><span>腾讯</span></a></li>
            <li><a href=""><span>微信</span></a></li>
            <li><a href=""><span>优酷</span></a></li>
        </ul>
    </div>
</div>
<div class="footer container-fluid">
    <div class="footer-middle container">
        <div class="footer-left">
            <a href="" class="zhichi">
                <span class="zhichi-icon"></span>
                <span class="footer-left-text">支持</span>
            </a>
            <a href="" class="fankui">
                <span class="fankui-icon"></span>
                <span class="footer-left-text">反馈</span>
            </a>
        </div>
        <div class="footer-sec">
            <div class="blizzard-logo"></div>
            <div class=" pull-left">
                <div class="footer-links">
                    <ul class="footer-links">
                        <li class="footer-links-link--careers">
                            <a href="" class="footer-links-link footer-links-link--careers">工作机会</a>
                            |
                        </li>
                        <li>
                            <a href="" class="footer-links-link footer-links-link--about">关于</a>
                            |
                        </li>
                        <li>
                            <a href="" class="footer-links-link footer-links-link--privacy">隐私</a>
                            |
                        </li>
                        <li>
                            <a href="" class="footer-links-link footer-links-link--terms">法律条款</a>
                            |
                        </li>
                        <li>
                            <a href="" class="footer-links-link footer-links-link--api">API</a>
                        </li>
                    </ul>
                </div>
                <div class="copyright">©2017 Blizzard Entertainment, Inc. All rights reserved.</div>
            </div>

        </div>
        <div class="footer-media">
            沪网文[2014]0731-161号 | 增值电信业务经营许可证编号：沪B2－20080012
            <br/>
            互联网违法和不良信息举报电话：0571-28090163 | 沪公网安备：31011502002167
            <div class="space-small"></div>
            <a href="" class="footer-iconLink">
                <div class="footer-iconLink footer-iconLink-cyberPolice"></div>
            </a>
            <a href="http://www.zx110.org/" class="Footer-iconLink">
                <div class="footer-iconLink footer-iconLink-zx100"></div>
            </a>
            <a href="" class="footer-iconLink">
                <div class="footer-iconLink footer-iconLink-sgs"></div>
            </a>
            <a href="" class="footer-iconLink">
                <div class="footer-iconLink footer-iconLink-shjbzx"></div>
            </a>
        </div>
    </div>
</div>


<script src="../../public/js/jquery-2.0.3.js"></script>
<script src="../../public/dist/js/bootstrap.js"></script>
<script>
    window.onscroll=function () {

        var t = document.documentElement.scrollTop || document.body.scrollTop;
        var menu = document.getElementById( "menu" );
        var nav = document.getElementById("nav");
        var menulogo = document.getElementById("menu-logo");
        if( t >= 100 ) {
            menu.className= "menugundong";
            nav.className= "navgundong";
            menulogo.className= "menu-logogundong";
        } else {
            menu.className= "menu";
            nav.className= "nav";
            menulogo.className= "menu-logo";
        }
    };

    //                background: rgba(68,47,38,.5);
    var tuozhan1=$("#tuozhan1");
    var tuozhan2=$("#tuozhan2");
    var game=$("#game");
    var story=$("#story");

    game.click(function () {

        if (tuozhan1.css("display") === "none" ){
            game.parent().css("background", "rgba(68,47,38,.5)");
            story.parent().css("background", "rgba(68,47,38,0)");
            game.children("span").css("background","#ffffff")
                .css("background-size", "1em 1em")
                .css("-webkit-background-clip","text")
                .css("-webkit-text-fill-color", "transparent");

            game.children("span").eq(1).attr("class", "zt glyphicon glyphicon-chevron-up");
            story.children("span").eq(1).attr("class", "zt glyphicon glyphicon-chevron-down");
            tuozhan2.hide();
            tuozhan1.show();

        }else {
            tuozhan1.hide();
            game.children("span").eq(1).attr("class", "zt glyphicon glyphicon-chevron-down");
            game.parent().css("background", "rgba(68,47,38,0)");
            game.children("span")
                .css("background-image","-webkit-linear-gradient(top,#efd100 0,#e2a233 25%, #f0c328 50%, #fff1a3 70%, #ffe13e 100%)")
                .css("background-size", "1em 1em")
                .css("-webkit-background-clip","text")
                .css("-webkit-text-fill-color", "transparent");
        }

    });
    story.click(function () {
        if (tuozhan2.css("display") === "none" ){
            story.parent().css("background", "rgba(68,47,38,.5)");
            game.parent().css("background", "rgba(68,47,38,0)");
            story.children("span").css("background","#ffffff")
                .css("background-size", "1em 1em")
                .css("-webkit-background-clip","text")
                .css("-webkit-text-fill-color", "transparent");

            story.children("span").eq(1).attr("class", "zt glyphicon glyphicon-chevron-up");
            game.children("span").eq(1).attr("class", "zt glyphicon glyphicon-chevron-down");

            tuozhan1.hide();
            tuozhan2.show();

        }else {
            tuozhan2.hide();
            story.children("span").eq(1).attr("class", "zt glyphicon glyphicon-chevron-down");
            story.parent().css("background", "rgba(68,47,38,0)");
            story.children("span")
                .css("background-image","-webkit-linear-gradient(top,#efd100 0,#e2a233 25%, #f0c328 50%, #fff1a3 70%, #ffe13e 100%)")
                .css("background-size", "1em 1em")
                .css("-webkit-background-clip","text")
                .css("-webkit-text-fill-color", "transparent");

        }
    });


</script>
</body>
</html>