<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登录</title>
    <link rel="shortcut icon" href="../../public/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../../public/css/login.css">
    <script src="../../public/js/jquery-2.0.3.js"></script>
    <script src="../../public/js/md5.js"></script>
    <script src="../../public/js/index.js"></script>
    <script>
        $(function () {
            $(document).keydown(function (event) {
                var e = event ? event : window.event;
                if (e.keyCode == 13) {
                    $("#loginbtn").click();

                }
            });
        });
    </script>
</head>
<body>
    <div class="content">
        <div class="con_logo"></div>
        <div class="con_form">
            <form>
                <input type="text" name="uemail" placeholder="战网通行证电子邮箱">
                <input type="password" name="pwd"  placeholder="输入您的密码">
                <button type="button" id="loginbtn">登录战网</button>
            </form>
        </div>
        <div class="con_ul">
            <ul>
                <li><a href="/user/register">免费创建战网通行证</a></li>
                <li><a href="">无法登录？</a></li>
            </ul>
        </div>
    </div>

    <footer>
        <div class="footer_logo">
            <img src="../../public/images/blizzard.0tuLw.png" alt="blizzard">
        </div>
        <div class="footer_text">
            <ul class="text_ul">
                <li><a href="">BATTLE.NET EULA</a>|</li>
                <li><a href="">隐私</a>|</li>
                <li><a href="">法律条款</a>|</li>
                <li><a href="">著作权侵权</a></li>
            </ul>
            <ul class="text_ul">
                <li><a href="">沪网文[2014]0731-161号</a>|</li>
                <li><a href=""> 增值电信业务经营许可证编号：沪B2－20080012</a></li>
            </ul>
            <ul class="text_ul_none">
                <li><a href="javascript:void(0)">互联网违法和不良信息举报电话：0571-28090163</a>|</li>
                <li><a href="javascript:void(0)">沪公网安备：31011502002167</a></li>
            </ul>
        </div>
        <div class="text_copy">©2017 Blizzard Entertainment, Inc.</div>
        <div class="integ">
            <a target="_blank" href="http://sh.cyberpolice.cn/infoCategoryListAction.do?act=initjpg"><img src="../../public/images/police.png"></a>
            <a target="_blank" href="http://www.zx110.org/"><img src="../../public/images/zx110.png"></a>
            <a target="_blank" href="http://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&entyId=20111011175417664"><img src="../../public/images/sgs-icon.png"></a>
            <a target="_blank" href="http://www.shjbzx.cn/"><img src="../../public/images/icon20120516.png"></a>
        </div>
    </footer>
</body>
</html>